4/Request response/mqtt.json
[
    {
        "id": "817d2216a61fc16e",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "28dc611746ae8a4a",
        "type": "mqtt in",
        "z": "817d2216a61fc16e",
        "name": "",
        "topic": "iot23",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b03cebcbbdc77f82",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "666e82a01f2d0648"
            ]
        ]
    },
    {
        "id": "bcc46065253d0de3",
        "type": "mqtt out",
        "z": "817d2216a61fc16e",
        "name": "",
        "topic": "iot23",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b03cebcbbdc77f82",
        "x": 330,
        "y": 280,
        "wires": []
    },
    {
        "id": "666e82a01f2d0648",
        "type": "debug",
        "z": "817d2216a61fc16e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 180,
        "wires": []
    },
    {
        "id": "c367d6640a044e5a",
        "type": "inject",
        "z": "817d2216a61fc16e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "bcc46065253d0de3"
            ]
        ]
    },
    {
        "id": "b03cebcbbdc77f82",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]