9/Ricevi Umidita REST V2.json
[{"id":"efe0c26a77c9d2bb","type":"tab","label":"Ricevimento umidità REST","disabled":false,"info":"","env":[]},{"id":"7f99e3b1dbce1196","type":"sqlite","z":"efe0c26a77c9d2bb","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"CREATE TABLE Humidity (\n    ID INTEGER PRIMARY KEY AUTOINCREMENT,\n    TimeSt varchar(255),\n    ObjectID varchar(17),\n    Temperature varchar(4),\n    Humidity varchar(4)\n);","name":"CREATE HUMIDITY","x":470,"y":660,"wires":[[]]},{"id":"e8b3d59c05865397","type":"inject","z":"efe0c26a77c9d2bb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":660,"wires":[["7f99e3b1dbce1196"]]},{"id":"8f66303b13db8c84","type":"comment","z":"efe0c26a77c9d2bb","name":"Per creare db","info":"","x":150,"y":580,"wires":[]},{"id":"04a48193f06ad38c","type":"sqlite","z":"efe0c26a77c9d2bb","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"DROP TABLE Humidity","name":"DROP HUMIDITY","x":470,"y":720,"wires":[[]]},{"id":"89a79a6cbdc765f5","type":"inject","z":"efe0c26a77c9d2bb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":720,"wires":[["04a48193f06ad38c"]]},{"id":"c8690a484e86243c","type":"http in","z":"efe0c26a77c9d2bb","name":"","url":"/humidityHTTP","method":"post","upload":false,"swaggerDoc":"","x":200,"y":320,"wires":[["b16b822ca1d1467d","b32873bb30daa92e"]]},{"id":"5f88174a04f85f46","type":"comment","z":"efe0c26a77c9d2bb","name":"Ricevimento umidità HTTP","info":"Se GET:\nreq.query\n\nSe POST:\npayload","x":190,"y":220,"wires":[]},{"id":"b44c29129c8bba01","type":"ui_table","z":"efe0c26a77c9d2bb","group":"eb52cac3b3904f3e","name":"","order":0,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":2430,"y":900,"wires":[]},{"id":"43170d66edf2bc82","type":"sqlite","z":"efe0c26a77c9d2bb","mydb":"6f9889f2e722a38b","sqlquery":"prepared","sql":"INSERT INTO Humidity VALUES (null, ?, ?, ?, ?);","name":"INSERT IN HUMIDITY","x":1840,"y":900,"wires":[["9eca503d9493b381"]]},{"id":"52e0984d2cc40d65","type":"change","z":"efe0c26a77c9d2bb","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t    payload.Timestamp,\t    payload.ObjectID,\t    payload.Temperature,\t    payload.Humidity\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":860,"wires":[["43170d66edf2bc82"]]},{"id":"9eca503d9493b381","type":"sqlite","z":"efe0c26a77c9d2bb","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"SELECT * FROM Humidity","name":"SELECT HUMIDITY","x":2150,"y":900,"wires":[["b44c29129c8bba01"]]},{"id":"edd2fd71dcbb19d0","type":"comment","z":"efe0c26a77c9d2bb","name":"Select db","info":"","x":1700,"y":780,"wires":[]},{"id":"b3d4b20ef82ec422","type":"http response","z":"efe0c26a77c9d2bb","name":"","statusCode":"","headers":{},"x":830,"y":260,"wires":[]},{"id":"3e85657b1cfdc01c","type":"change","z":"efe0c26a77c9d2bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\": 1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":220,"wires":[["b3d4b20ef82ec422"]]},{"id":"b16b822ca1d1467d","type":"change","z":"efe0c26a77c9d2bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ObjectID\": payload.ObjectID,\t    \"Temperature\": payload.Temperature,\t    \"Humidity\": payload.Humidity,\t    \"Timestamp\": payload.Timestamp\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":360,"wires":[["52e0984d2cc40d65","56c4938b0f94dd6d","d499971e3708aac4","7f576c53079ce455"]]},{"id":"68c21325b6392bd5","type":"ui_chart","z":"efe0c26a77c9d2bb","name":"","group":"eb52cac3b3904f3e","order":1,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1620,"y":440,"wires":[[]]},{"id":"68d9480a59ed428f","type":"ui_chart","z":"efe0c26a77c9d2bb","name":"","group":"eb52cac3b3904f3e","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1630,"y":500,"wires":[[]]},{"id":"56c4938b0f94dd6d","type":"change","z":"efe0c26a77c9d2bb","name":"Change to Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":500,"wires":[["68d9480a59ed428f"]]},{"id":"d499971e3708aac4","type":"change","z":"efe0c26a77c9d2bb","name":"Change to Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":440,"wires":[["68c21325b6392bd5"]]},{"id":"850ef10f531664fe","type":"comment","z":"efe0c26a77c9d2bb","name":"Grafici","info":"","x":1290,"y":380,"wires":[]},{"id":"7f576c53079ce455","type":"debug","z":"efe0c26a77c9d2bb","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":460,"wires":[]},{"id":"b32873bb30daa92e","type":"switch","z":"efe0c26a77c9d2bb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":260,"wires":[["3e85657b1cfdc01c"],["67d0ca0ef4846fbe"]]},{"id":"67d0ca0ef4846fbe","type":"change","z":"efe0c26a77c9d2bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":300,"wires":[["b3d4b20ef82ec422"]]},{"id":"177923ce58a5e44e","type":"sqlite","z":"efe0c26a77c9d2bb","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"SELECT * FROM Humidity\n    ORDER BY ID\n    DESC LIMIT 1","name":"SELECT LAST HUMIDITY","x":510,"y":840,"wires":[["0c27b63aa4a9934e","f99b4c70e8863ec9"]]},{"id":"89a1d32d00d13b79","type":"inject","z":"efe0c26a77c9d2bb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":840,"wires":[["177923ce58a5e44e"]]},{"id":"0c27b63aa4a9934e","type":"debug","z":"efe0c26a77c9d2bb","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":900,"wires":[]},{"id":"9c59f26d63561c88","type":"http in","z":"efe0c26a77c9d2bb","name":"","url":"/humidityHTTP","method":"get","upload":false,"swaggerDoc":"","x":250,"y":920,"wires":[["177923ce58a5e44e"]]},{"id":"f99b4c70e8863ec9","type":"http response","z":"efe0c26a77c9d2bb","name":"","statusCode":"","headers":{},"x":790,"y":800,"wires":[]},{"id":"74ad120265e24f36","type":"http in","z":"efe0c26a77c9d2bb","name":"","url":"/humidityHTTP","method":"put","upload":false,"swaggerDoc":"","x":270,"y":1020,"wires":[["62eefa6458a4c7c6","d41f42ec22df6215"]]},{"id":"4300915e28f1be2f","type":"sqlite","z":"efe0c26a77c9d2bb","mydb":"6f9889f2e722a38b","sqlquery":"prepared","sql":"UPDATE Humidity SET Temperature = ? WHERE ID = ?","name":"UPDATE HUMIDITY","x":860,"y":1020,"wires":[["9eca503d9493b381","d814ef2f4e4803c3"]]},{"id":"62eefa6458a4c7c6","type":"change","z":"efe0c26a77c9d2bb","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t    payload.Temperature,\t    payload.ID\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1100,"wires":[["4300915e28f1be2f","fdb4dd73969dfc55","228a3cfa278947b8"]]},{"id":"fdb4dd73969dfc55","type":"debug","z":"efe0c26a77c9d2bb","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"params","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":1080,"wires":[]},{"id":"6dfae37a2568aae4","type":"http response","z":"efe0c26a77c9d2bb","name":"","statusCode":"","headers":{},"x":950,"y":1220,"wires":[]},{"id":"7f2f2bfd61f6bd69","type":"change","z":"efe0c26a77c9d2bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\": 1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1180,"wires":[["6dfae37a2568aae4"]]},{"id":"228a3cfa278947b8","type":"switch","z":"efe0c26a77c9d2bb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":1220,"wires":[["7f2f2bfd61f6bd69"],["e559cd0ae461a695"]]},{"id":"e559cd0ae461a695","type":"change","z":"efe0c26a77c9d2bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1260,"wires":[["6dfae37a2568aae4"]]},{"id":"d41f42ec22df6215","type":"debug","z":"efe0c26a77c9d2bb","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":1000,"wires":[]},{"id":"d814ef2f4e4803c3","type":"sqlite","z":"efe0c26a77c9d2bb","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"SELECT * FROM Humidity\n    WHERE ID = 1","name":"SELECT HUMIDITY","x":1070,"y":1080,"wires":[["e96ed0877fc8aad4"]]},{"id":"e96ed0877fc8aad4","type":"debug","z":"efe0c26a77c9d2bb","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1280,"y":1080,"wires":[]},{"id":"3cfcfcbb99d6ced1","type":"http in","z":"efe0c26a77c9d2bb","name":"","url":"/humidityHTTP","method":"delete","upload":false,"swaggerDoc":"","x":280,"y":1420,"wires":[["c72bcdd92215cbd8"]]},{"id":"765713665b90246e","type":"sqlite","z":"efe0c26a77c9d2bb","mydb":"6f9889f2e722a38b","sqlquery":"prepared","sql":"DELETE FROM Humidity \n    WHERE ID = ?","name":"DELETE HUMIDITY","x":850,"y":1420,"wires":[["9eca503d9493b381"]]},{"id":"c72bcdd92215cbd8","type":"change","z":"efe0c26a77c9d2bb","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t   payload.ID\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1420,"wires":[["765713665b90246e","4229ba13f775acb9","43a7418d68c7a1d5"]]},{"id":"4229ba13f775acb9","type":"debug","z":"efe0c26a77c9d2bb","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"params","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":1480,"wires":[]},{"id":"efc20e2364218c04","type":"http response","z":"efe0c26a77c9d2bb","name":"","statusCode":"","headers":{},"x":950,"y":1620,"wires":[]},{"id":"80b73acc1a15ecbc","type":"change","z":"efe0c26a77c9d2bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\": 1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1580,"wires":[["efc20e2364218c04"]]},{"id":"43a7418d68c7a1d5","type":"switch","z":"efe0c26a77c9d2bb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":1620,"wires":[["80b73acc1a15ecbc"],["6d9f9d7bd16b3b53"]]},{"id":"6d9f9d7bd16b3b53","type":"change","z":"efe0c26a77c9d2bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1660,"wires":[["efc20e2364218c04"]]},{"id":"6f9889f2e722a38b","type":"sqlitedb","db":"database1","mode":"RWC"},{"id":"eb52cac3b3904f3e","type":"ui_group","name":"Select","tab":"a940b8b197d490ec","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"a940b8b197d490ec","type":"ui_tab","name":"Sqlite HTTP Humidità","icon":"dashboard","order":3,"disabled":false,"hidden":false}]