7/Invio Temperatura.json
[
    {
        "id": "1f2bbd19302c2aac",
        "type": "tab",
        "label": "Invio Temperatura",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6f8714a65c6efded",
        "type": "comment",
        "z": "1f2bbd19302c2aac",
        "name": "Passare temperatura tramite mqtt out",
        "info": "\nCaricare la temperatura di un sensore su un db\n\nSensore: DS18B20\n\nNodi:\n - node-red-contrib-sensor-ds18b20\n - node-red-contrib-ds18b20-sensor",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "b13ed3ec2cd7c350",
        "type": "sensor-ds18b20",
        "z": "1f2bbd19302c2aac",
        "name": "",
        "topic": "",
        "sensorid": "28-06201568d8b1",
        "timer": "60",
        "repeat": true,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "74da562ece0a6fe5",
                "456a361af7b15482",
                "6e24b3e2277279a2"
            ]
        ]
    },
    {
        "id": "9a96dc8f99653819",
        "type": "mqtt out",
        "z": "1f2bbd19302c2aac",
        "name": "",
        "topic": "MarcoSpaccatutto",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2b9358bdd43541e3",
        "x": 490,
        "y": 260,
        "wires": []
    },
    {
        "id": "74da562ece0a6fe5",
        "type": "change",
        "z": "1f2bbd19302c2aac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"ObjectID\": $globalContext(\"ObjectID\"),\t    \"Temperature\": payload,\t    \"Timestamp\": $now()\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "9a96dc8f99653819",
                "90b06a5e975a39f9"
            ]
        ]
    },
    {
        "id": "90b06a5e975a39f9",
        "type": "debug",
        "z": "1f2bbd19302c2aac",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 200,
        "wires": []
    },
    {
        "id": "215758f32485d370",
        "type": "comment",
        "z": "1f2bbd19302c2aac",
        "name": "Indirizzo Mac Raspberry",
        "info": "Ether\n\neth0: d8:3a:dd:59:40:20\nwlan0: d8:3a:dd:59:40:21",
        "x": 170,
        "y": 440,
        "wires": []
    },
    {
        "id": "419f61492ac69b49",
        "type": "exec",
        "z": "1f2bbd19302c2aac",
        "command": "ifconfig eth0 | grep ether",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 500,
        "wires": [
            [],
            [
                "aa23a998a3796bee"
            ],
            []
        ]
    },
    {
        "id": "9f7f87c9b10fe6a4",
        "type": "inject",
        "z": "1f2bbd19302c2aac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "419f61492ac69b49"
            ]
        ]
    },
    {
        "id": "3f7b455e9d9eb846",
        "type": "debug",
        "z": "1f2bbd19302c2aac",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 500,
        "wires": []
    },
    {
        "id": "aa23a998a3796bee",
        "type": "change",
        "z": "1f2bbd19302c2aac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$substring(payload, 14, 17)\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "ObjectID",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 500,
        "wires": [
            [
                "3f7b455e9d9eb846"
            ]
        ]
    },
    {
        "id": "0b50555999f82be6",
        "type": "mqtt in",
        "z": "1f2bbd19302c2aac",
        "name": "",
        "topic": "MarcoConquistatoreDiMondi",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2b9358bdd43541e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 320,
        "wires": [
            [
                "b13ed3ec2cd7c350"
            ]
        ]
    },
    {
        "id": "01bc812b9216dcb0",
        "type": "mqtt in",
        "z": "1f2bbd19302c2aac",
        "name": "",
        "topic": "MarcoPazzoSgravato",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2b9358bdd43541e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 780,
        "y": 320,
        "wires": [
            [
                "fe9a644ded45a584"
            ]
        ]
    },
    {
        "id": "fe9a644ded45a584",
        "type": "change",
        "z": "1f2bbd19302c2aac",
        "name": "Max Temp",
        "rules": [
            {
                "t": "set",
                "p": "maxTemp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "456a361af7b15482",
        "type": "switch",
        "z": "1f2bbd19302c2aac",
        "name": "",
        "property": "maxTemp",
        "propertyType": "flow",
        "rules": [
            {
                "t": "lt",
                "v": "payload",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 140,
        "wires": [
            [
                "01b6c958ff5139d7"
            ]
        ]
    },
    {
        "id": "be55c79aab0220c8",
        "type": "rpi-gpio out",
        "z": "1f2bbd19302c2aac",
        "name": "",
        "pin": "26",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1180,
        "y": 140,
        "wires": []
    },
    {
        "id": "01b6c958ff5139d7",
        "type": "change",
        "z": "1f2bbd19302c2aac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 140,
        "wires": [
            [
                "be55c79aab0220c8",
                "f08c457b1b65ea9c"
            ]
        ]
    },
    {
        "id": "914a4ab561a5cfb5",
        "type": "comment",
        "z": "1f2bbd19302c2aac",
        "name": "Per accendere led",
        "info": "\n",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "f08c457b1b65ea9c",
        "type": "mqtt out",
        "z": "1f2bbd19302c2aac",
        "name": "",
        "topic": "MarcoControllore",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2b9358bdd43541e3",
        "x": 1270,
        "y": 240,
        "wires": []
    },
    {
        "id": "fe0f9c5d5d4faed1",
        "type": "mqtt in",
        "z": "1f2bbd19302c2aac",
        "name": "",
        "topic": "MarcoPulotto",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2b9358bdd43541e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 400,
        "wires": [
            [
                "3f39e23379eda3ec"
            ]
        ]
    },
    {
        "id": "91040f2a7af26cb1",
        "type": "rpi-gpio out",
        "z": "1f2bbd19302c2aac",
        "name": "",
        "pin": "26",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1200,
        "y": 400,
        "wires": []
    },
    {
        "id": "3f39e23379eda3ec",
        "type": "change",
        "z": "1f2bbd19302c2aac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 400,
        "wires": [
            [
                "91040f2a7af26cb1"
            ]
        ]
    },
    {
        "id": "f13e3414579ba4bd",
        "type": "change",
        "z": "1f2bbd19302c2aac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 200,
        "wires": [
            [
                "f08c457b1b65ea9c"
            ]
        ]
    },
    {
        "id": "6e24b3e2277279a2",
        "type": "switch",
        "z": "1f2bbd19302c2aac",
        "name": "",
        "property": "maxTemp",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "payload",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 200,
        "wires": [
            [
                "f13e3414579ba4bd"
            ]
        ]
    },
    {
        "id": "2b9358bdd43541e3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]