7/Ricevimento Temperatura.json
[{"id":"3b97f6319b5d7b98","type":"tab","label":"Ricevimento Temperatura","disabled":false,"info":"","env":[]},{"id":"8336a6e48cad12c5","type":"mqtt in","z":"3b97f6319b5d7b98","name":"","topic":"MarcoSpaccatutto","qos":"2","datatype":"auto-detect","broker":"a8e29856988c8b18","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":140,"wires":[["ef693b728e47018b","2b781ff5277e1c5f"]]},{"id":"1052411972950721","type":"comment","z":"3b97f6319b5d7b98","name":"Ricevimento dati con mqqtt in ed aggiunta a db","info":"","x":280,"y":60,"wires":[]},{"id":"40e396b45046072c","type":"sqlite","z":"3b97f6319b5d7b98","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"CREATE TABLE Temperatures (\n    ID INTEGER PRIMARY KEY AUTOINCREMENT,\n    TimeSt varchar(255),\n    ObjectID varchar(17),\n    Temperature varchar(4)\n);","name":"CREATE TEMPERATURES","x":520,"y":780,"wires":[[]]},{"id":"1581b6da316ca9cf","type":"inject","z":"3b97f6319b5d7b98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":780,"wires":[["40e396b45046072c"]]},{"id":"cd2eb71d379a9778","type":"comment","z":"3b97f6319b5d7b98","name":"Per creare db","info":"","x":170,"y":700,"wires":[]},{"id":"94a092cb8fa64323","type":"sqlite","z":"3b97f6319b5d7b98","mydb":"6f9889f2e722a38b","sqlquery":"prepared","sql":"INSERT INTO Temperatures VALUES (null, ?, ?, ?);","name":"INSERT IN TEMPERATURES","x":700,"y":260,"wires":[["64aaceb5c314c383"]]},{"id":"ef693b728e47018b","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t    payload.ObjectID,\t    payload.Timestamp,\t    payload.Temperature\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":260,"wires":[["94a092cb8fa64323"]]},{"id":"64aaceb5c314c383","type":"sqlite","z":"3b97f6319b5d7b98","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"SELECT * FROM Temperatures","name":"SELECT TEMPERATURES","x":1000,"y":340,"wires":[["14ab7cdbd8860b6a"]]},{"id":"14ab7cdbd8860b6a","type":"ui_table","z":"3b97f6319b5d7b98","group":"e6d944f75f1b1027","name":"","order":1,"width":"12","height":"8","columns":[],"outputs":0,"cts":false,"x":1270,"y":340,"wires":[]},{"id":"d23ac6a917dcee7d","type":"sqlite","z":"3b97f6319b5d7b98","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"DROP TABLE Temperatures","name":"DROP TEMPERATURES","x":510,"y":840,"wires":[[]]},{"id":"7fef9c852d25fc31","type":"inject","z":"3b97f6319b5d7b98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":840,"wires":[["d23ac6a917dcee7d"]]},{"id":"68b29f815014dfd1","type":"ui_chart","z":"3b97f6319b5d7b98","name":"","group":"e6d944f75f1b1027","order":2,"width":"0","height":"0","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":770,"y":200,"wires":[[]]},{"id":"2b781ff5277e1c5f","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":200,"wires":[["68b29f815014dfd1"]]},{"id":"8f4093345e85789d","type":"mqtt out","z":"3b97f6319b5d7b98","name":"","topic":"MarcoConquistatoreDiMondi","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a8e29856988c8b18","x":440,"y":500,"wires":[]},{"id":"59cffb4da48fd1fb","type":"ui_button","z":"3b97f6319b5d7b98","name":"","group":"e6d944f75f1b1027","order":3,"width":0,"height":0,"passthru":false,"label":"Request","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":500,"wires":[["8f4093345e85789d"]]},{"id":"b2ed9b6e047b4c7e","type":"ui_numeric","z":"3b97f6319b5d7b98","name":"","label":"Treshold Temperatura","tooltip":"","group":"e6d944f75f1b1027","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"-40","max":"40","step":1,"className":"","x":220,"y":600,"wires":[["54285bb4fdf42cd6"]]},{"id":"54285bb4fdf42cd6","type":"mqtt out","z":"3b97f6319b5d7b98","name":"","topic":"MarcoPazzoSgravato","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a8e29856988c8b18","x":500,"y":600,"wires":[]},{"id":"49c3f2b450877f68","type":"ui_button","z":"3b97f6319b5d7b98","name":"","group":"e6d944f75f1b1027","order":4,"width":0,"height":0,"passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1650,"y":640,"wires":[["c5ca2f286a8261a9"]]},{"id":"1c209ff53eef1e5c","type":"mqtt in","z":"3b97f6319b5d7b98","name":"","topic":"MarcoControllore","qos":"2","datatype":"auto-detect","broker":"a8e29856988c8b18","nl":false,"rap":true,"rh":0,"inputs":0,"x":820,"y":560,"wires":[["5ab57cc376d3bd7e"]]},{"id":"7aba24cc66b2d7eb","type":"switch","z":"3b97f6319b5d7b98","name":"","property":"ledIsOnOrOff","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":600,"wires":[["5f3fca9067073b5d"]]},{"id":"5ab57cc376d3bd7e","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"ledIsOnOrOff","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":640,"wires":[["7aba24cc66b2d7eb","b5be038e5270e56f"]]},{"id":"7ff303fd48777c27","type":"mqtt out","z":"3b97f6319b5d7b98","name":"","topic":"MarcoPulotto","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a8e29856988c8b18","x":2160,"y":640,"wires":[]},{"id":"c5ca2f286a8261a9","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"ledIsOnOrOff","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1880,"y":640,"wires":[["7ff303fd48777c27","62a30ad3f578d339"]]},{"id":"b5be038e5270e56f","type":"switch","z":"3b97f6319b5d7b98","name":"","property":"ledIsOnOrOff","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":680,"wires":[["2cb36cdaa51cf293"]]},{"id":"5f3fca9067073b5d","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Temperatura sopra treshold, spegni led","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":600,"wires":[["49c3f2b450877f68"]]},{"id":"2cb36cdaa51cf293","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Temperatura sotto treshold","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":680,"wires":[["49c3f2b450877f68"]]},{"id":"62a30ad3f578d339","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Allert ingorato","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":760,"wires":[["49c3f2b450877f68"]]},{"id":"837b567d3ae0d7c9","type":"comment","z":"3b97f6319b5d7b98","name":"Controllo allarme e spegnimento","info":"","x":870,"y":500,"wires":[]},{"id":"a8e29856988c8b18","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"6f9889f2e722a38b","type":"sqlitedb","db":"database1","mode":"RWC"},{"id":"e6d944f75f1b1027","type":"ui_group","name":"Select","tab":"7dc1a18ec16881e0","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"7dc1a18ec16881e0","type":"ui_tab","name":"Sqlite Mqtt Temperatrura","icon":"dashboard","order":2,"disabled":false,"hidden":false}]