finale/Invio PROGETTO.json
[
    {
        "id": "b0701f164c4c3557",
        "type": "tab",
        "label": "Invio Progetto Finale",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1c1dda770105b0a2",
        "type": "inject",
        "z": "b0701f164c4c3557",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190.00001525878906,
        "y": 211.11111450195312,
        "wires": [
            [
                "d8c2cad28c9241da"
            ]
        ]
    },
    {
        "id": "5d781d9c69d8f19a",
        "type": "rpi-dht22",
        "z": "b0701f164c4c3557",
        "name": "",
        "topic": "rpi-dht22",
        "dht": "11",
        "pintype": "0",
        "pin": "5",
        "x": 680.0000152587891,
        "y": 211.11111450195312,
        "wires": [
            [
                "2388ea4881404885"
            ]
        ]
    },
    {
        "id": "d6199181151fec3c",
        "type": "comment",
        "z": "b0701f164c4c3557",
        "name": "dht11",
        "info": "VCC - 3v3\nGND - GND (primo in alto)\nSIG - GPIO5",
        "x": 150,
        "y": 160,
        "wires": []
    },
    {
        "id": "f3d077a8e2679d3a",
        "type": "comment",
        "z": "b0701f164c4c3557",
        "name": "Mac Raspberry",
        "info": "Ether\n\neth0: d8:3a:dd:59:40:20\nwlan0: d8:3a:dd:59:40:21",
        "x": 230,
        "y": 1020,
        "wires": []
    },
    {
        "id": "519e281f509ac626",
        "type": "exec",
        "z": "b0701f164c4c3557",
        "command": "ifconfig eth0 | grep ether",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 510,
        "y": 1080,
        "wires": [
            [
                "e4f15ab5f1b6603f"
            ],
            [],
            []
        ]
    },
    {
        "id": "e2015ada64ca1198",
        "type": "inject",
        "z": "b0701f164c4c3557",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 1080,
        "wires": [
            [
                "519e281f509ac626"
            ]
        ]
    },
    {
        "id": "93bc2ab404da6225",
        "type": "debug",
        "z": "b0701f164c4c3557",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1080,
        "wires": []
    },
    {
        "id": "e4f15ab5f1b6603f",
        "type": "change",
        "z": "b0701f164c4c3557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$substring(payload, 14, 17)\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "ObjectID",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1080,
        "wires": [
            [
                "93bc2ab404da6225"
            ]
        ]
    },
    {
        "id": "f8903b694a493070",
        "type": "http request",
        "z": "b0701f164c4c3557",
        "name": "post raindrop",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "query",
        "url": "https://0028544.azurewebsites.net/raindrop",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1250,
        "y": 240,
        "wires": [
            [
                "dbe8d51e4a897046"
            ]
        ]
    },
    {
        "id": "25636fb720119f86",
        "type": "inject",
        "z": "b0701f164c4c3557",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 780,
        "wires": [
            [
                "66bfd19c1b7f7097"
            ]
        ]
    },
    {
        "id": "a33c01457a37aa30",
        "type": "debug",
        "z": "b0701f164c4c3557",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 780,
        "wires": []
    },
    {
        "id": "1804b78094347299",
        "type": "json",
        "z": "b0701f164c4c3557",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 780,
        "wires": [
            [
                "01724db1de15f783"
            ]
        ]
    },
    {
        "id": "01724db1de15f783",
        "type": "change",
        "z": "b0701f164c4c3557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 780,
        "wires": [
            [
                "a33c01457a37aa30"
            ]
        ]
    },
    {
        "id": "66bfd19c1b7f7097",
        "type": "http request",
        "z": "b0701f164c4c3557",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "0028544.azurewebsites.net/humidityHTTP",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 780,
        "wires": [
            [
                "1804b78094347299"
            ]
        ]
    },
    {
        "id": "72d1c335a69c6cdb",
        "type": "inject",
        "z": "b0701f164c4c3557",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Temperature\":37,\"ID\":2}",
        "payloadType": "json",
        "x": 190,
        "y": 860,
        "wires": [
            [
                "bc13d8d326056d18"
            ]
        ]
    },
    {
        "id": "c09eb0089faf3102",
        "type": "debug",
        "z": "b0701f164c4c3557",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 860,
        "wires": []
    },
    {
        "id": "3938c2b944aa8a92",
        "type": "json",
        "z": "b0701f164c4c3557",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 860,
        "wires": [
            [
                "01be7228433ac523"
            ]
        ]
    },
    {
        "id": "bc13d8d326056d18",
        "type": "http request",
        "z": "b0701f164c4c3557",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "0028544.azurewebsites.net/humidityHTTP",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 860,
        "wires": [
            [
                "3938c2b944aa8a92"
            ]
        ]
    },
    {
        "id": "01be7228433ac523",
        "type": "change",
        "z": "b0701f164c4c3557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 860,
        "wires": [
            [
                "c09eb0089faf3102"
            ]
        ]
    },
    {
        "id": "61fee0726845fb6e",
        "type": "inject",
        "z": "b0701f164c4c3557",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"rowid\":1}",
        "payloadType": "json",
        "x": 210,
        "y": 940,
        "wires": [
            [
                "6802830b3454b5c3"
            ]
        ]
    },
    {
        "id": "2ef61d5564a7f81d",
        "type": "debug",
        "z": "b0701f164c4c3557",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 940,
        "wires": []
    },
    {
        "id": "5ddc302afe253bd8",
        "type": "json",
        "z": "b0701f164c4c3557",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 940,
        "wires": [
            [
                "e164ad118f17ac4f"
            ]
        ]
    },
    {
        "id": "6802830b3454b5c3",
        "type": "http request",
        "z": "b0701f164c4c3557",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "0028544.azurewebsites.net/humidityHTTP",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 940,
        "wires": [
            [
                "5ddc302afe253bd8"
            ]
        ]
    },
    {
        "id": "e164ad118f17ac4f",
        "type": "change",
        "z": "b0701f164c4c3557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 940,
        "wires": [
            [
                "2ef61d5564a7f81d"
            ]
        ]
    },
    {
        "id": "6dc95096d740ecc2",
        "type": "comment",
        "z": "b0701f164c4c3557",
        "name": "Touch Swich",
        "info": "VCC - 3v3\nGND - GND (primo in alto)\nSIG - GPIO23",
        "x": 210,
        "y": 440,
        "wires": []
    },
    {
        "id": "ee6c6f9990aed374",
        "type": "rpi-gpio in",
        "z": "b0701f164c4c3557",
        "name": "",
        "pin": "23",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 190,
        "y": 520,
        "wires": [
            [
                "2dfd0943e8ae6163"
            ]
        ]
    },
    {
        "id": "3ceb252d200754c7",
        "type": "debug",
        "z": "b0701f164c4c3557",
        "name": "debug 27",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 520,
        "wires": []
    },
    {
        "id": "6fcaef9a5c411898",
        "type": "comment",
        "z": "b0701f164c4c3557",
        "name": "HTTP",
        "info": "",
        "x": 170,
        "y": 700,
        "wires": []
    },
    {
        "id": "b0db84a3db663a76",
        "type": "comment",
        "z": "b0701f164c4c3557",
        "name": "LED",
        "info": "R - GPIO 20\nGND - GND (Ultimo in basso)\ng - gpio 21",
        "x": 950,
        "y": 460,
        "wires": []
    },
    {
        "id": "52d834c65e072bcd",
        "type": "switch",
        "z": "b0701f164c4c3557",
        "name": "",
        "property": "payload.Humidity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "LastHum",
                "vt": "global"
            },
            {
                "t": "eq",
                "v": "LastHum",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 990,
        "y": 520,
        "wires": [
            [
                "8d1d4aea30e25760",
                "0d4d5f4071fcd1f9",
                "af3f0a3b4062a3ad"
            ],
            [
                "9548a7376acf9abc"
            ],
            [
                "c807d3b1ed8e9e9a",
                "3a905252c9bad572",
                "af3f0a3b4062a3ad"
            ]
        ]
    },
    {
        "id": "8d1d4aea30e25760",
        "type": "change",
        "z": "b0701f164c4c3557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "0d4d5f4071fcd1f9",
        "type": "change",
        "z": "b0701f164c4c3557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "c807d3b1ed8e9e9a",
        "type": "change",
        "z": "b0701f164c4c3557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "3a905252c9bad572",
        "type": "change",
        "z": "b0701f164c4c3557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "af3f0a3b4062a3ad",
        "type": "change",
        "z": "b0701f164c4c3557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LastHum",
                "pt": "global",
                "to": "payload.Humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "9548a7376acf9abc",
        "type": "change",
        "z": "b0701f164c4c3557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "d8c2cad28c9241da",
        "type": "switch",
        "z": "b0701f164c4c3557",
        "name": "",
        "property": "autoCheck",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400.00001525878906,
        "y": 211.11111450195312,
        "wires": [
            [
                "b02a7a860defb9d1"
            ]
        ]
    },
    {
        "id": "2dfd0943e8ae6163",
        "type": "change",
        "z": "b0701f164c4c3557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "autoCheck",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 520,
        "wires": [
            [
                "3ceb252d200754c7"
            ]
        ]
    },
    {
        "id": "d7cd7831337e7063",
        "type": "inject",
        "z": "b0701f164c4c3557",
        "name": "Accendi",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 600,
        "wires": [
            [
                "e2f2bf7fb163b5d6"
            ]
        ]
    },
    {
        "id": "e2f2bf7fb163b5d6",
        "type": "change",
        "z": "b0701f164c4c3557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 600,
        "wires": [
            [
                "2dfd0943e8ae6163"
            ]
        ]
    },
    {
        "id": "b02a7a860defb9d1",
        "type": "sensor-ds18b20",
        "z": "b0701f164c4c3557",
        "name": "",
        "topic": "",
        "sensorid": "not found.",
        "timer": "60",
        "repeat": false,
        "x": 580,
        "y": 320,
        "wires": [
            [
                "86a9f55cfda34d83",
                "b335ac0e2336ab9e"
            ]
        ]
    },
    {
        "id": "2388ea4881404885",
        "type": "change",
        "z": "b0701f164c4c3557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"timestamp\": $now(),\t    \"device_id\": $globalContext(\"ObjectID\"),\t    \"rain\": $globalContext(\"rain\"),\t    \"temperature\": $globalContext(\"correctTemp\"),\t    \"humidity\": humidity\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 200,
        "wires": [
            [
                "b6db691c73aa9977",
                "f8903b694a493070"
            ]
        ]
    },
    {
        "id": "86a9f55cfda34d83",
        "type": "change",
        "z": "b0701f164c4c3557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "correctTemp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 320,
        "wires": [
            [
                "8b6055b968ab4439"
            ]
        ]
    },
    {
        "id": "b6db691c73aa9977",
        "type": "debug",
        "z": "b0701f164c4c3557",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 60,
        "wires": []
    },
    {
        "id": "912eba93ae956d01",
        "type": "comment",
        "z": "b0701f164c4c3557",
        "name": "DS18B20",
        "info": "\nSensore: DS18B20\n\nSensore temperatura GPIO:\n - GND -> GND in alto a sinistra\n - SIG -> GPIO4\n - VCC -> 3v3\n\n\nNodi:\n - node-red-contrib-sensor-ds18b20\n - node-red-contrib-ds18b20-sensor\n",
        "x": 260,
        "y": 160,
        "wires": []
    },
    {
        "id": "be89925408c26323",
        "type": "inject",
        "z": "b0701f164c4c3557",
        "name": "Spegni",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "7e74194721cf6868"
            ]
        ]
    },
    {
        "id": "7e74194721cf6868",
        "type": "change",
        "z": "b0701f164c4c3557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 640,
        "wires": [
            [
                "2dfd0943e8ae6163"
            ]
        ]
    },
    {
        "id": "8b6055b968ab4439",
        "type": "python-function-ps",
        "z": "b0701f164c4c3557",
        "name": "",
        "pythonPathType": "local",
        "pythonPath": "python3",
        "globalPythonName": "",
        "importPathList": [],
        "fnCodePre": "\n# user code here.\n",
        "fnCode": "import RPi.GPIO as GPIO\n\nDO = 17\nGPIO.setmode(GPIO.BCM)\nGPIO.setup(DO, GPIO.IN)\nrain = GPIO.input(DO)\n\n\nrain = 0 if rain else 1\n\nnode.globals[\"rain\"] = rain\n\n\nreturn msg\n",
        "fnCodePost": "\n# user code here.\n",
        "x": 690,
        "y": 260,
        "wires": [
            [
                "5d781d9c69d8f19a"
            ]
        ]
    },
    {
        "id": "dbe8d51e4a897046",
        "type": "switch",
        "z": "b0701f164c4c3557",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1410,
        "y": 240,
        "wires": [
            [
                "aba107612c278fd7"
            ],
            [
                "d1d1064b868d487a"
            ]
        ]
    },
    {
        "id": "aba107612c278fd7",
        "type": "change",
        "z": "b0701f164c4c3557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"status\": msg.statusCode,\t    \"message\": \"insert successful\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 200,
        "wires": [
            [
                "e67d7a0b24a26764"
            ]
        ]
    },
    {
        "id": "d1d1064b868d487a",
        "type": "change",
        "z": "b0701f164c4c3557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"status\": msg.statusCode,\t    \"message\": \"insert successful\"\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 280,
        "wires": [
            [
                "e67d7a0b24a26764"
            ]
        ]
    },
    {
        "id": "e67d7a0b24a26764",
        "type": "debug",
        "z": "b0701f164c4c3557",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 240,
        "wires": []
    },
    {
        "id": "b335ac0e2336ab9e",
        "type": "debug",
        "z": "b0701f164c4c3557",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 380,
        "wires": []
    }
]