finale/Ricezione PROGETTO.json
[{"id":"a98df67984898219","type":"tab","label":"Ricevimento Progetto Finale","disabled":false,"info":"","env":[]},{"id":"91aa2e5d3c8f774c","type":"sqlite","z":"a98df67984898219","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"CREATE TABLE WindowData (\n    ID INTEGER PRIMARY KEY AUTOINCREMENT,\n    TimeSt varchar(255),\n    ObjectID varchar(17),\n    Temperature varchar(4),\n    Humidity varchar(4),\n    Rain varchar(10),\n);","name":"CREATE WINDOWDATA","x":510,"y":500,"wires":[[]]},{"id":"ff094c75676c2690","type":"inject","z":"a98df67984898219","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":500,"wires":[["91aa2e5d3c8f774c"]]},{"id":"1982bcddcf84f977","type":"comment","z":"a98df67984898219","name":"Per creare db","info":"","x":250,"y":420,"wires":[]},{"id":"632c2b1f70d861f2","type":"sqlite","z":"a98df67984898219","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"DROP TABLE WindowData","name":"DROP WINDOWDATA","x":500,"y":560,"wires":[[]]},{"id":"2208edd7e1508187","type":"inject","z":"a98df67984898219","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":560,"wires":[["632c2b1f70d861f2"]]},{"id":"f89bfb8fba4a39cf","type":"http in","z":"a98df67984898219","name":"","url":"/humidityHTTP","method":"post","upload":false,"swaggerDoc":"","x":220,"y":160,"wires":[["990265b74c64fb2d","9da110e02ad05a56"]]},{"id":"022c0210c3f8a38a","type":"comment","z":"a98df67984898219","name":"Ricevimento umidità HTTP","info":"Se GET:\nreq.query\n\nSe POST:\npayload","x":210,"y":60,"wires":[]},{"id":"bb394a3e889e2c36","type":"ui_table","z":"a98df67984898219","group":"eb52cac3b3904f3e","name":"","order":0,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":1970,"y":400,"wires":[]},{"id":"e38bf84d5f59333c","type":"sqlite","z":"a98df67984898219","mydb":"6f9889f2e722a38b","sqlquery":"prepared","sql":"INSERT INTO WindowData VALUES (null, ?, ?, ?, ?);","name":"INSERT IN WINDOWDATA","x":1400,"y":400,"wires":[["9d4631f13f6286a9"]]},{"id":"13f22b7c0cb7bab3","type":"change","z":"a98df67984898219","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t    payload.Timestamp,\t    payload.ObjectID,\t    payload.Temperature,\t    payload.Humidity\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":360,"wires":[["e38bf84d5f59333c"]]},{"id":"9d4631f13f6286a9","type":"sqlite","z":"a98df67984898219","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"SELECT * FROM WindowData","name":"SELECT WINDOWDATA","x":1710,"y":400,"wires":[["bb394a3e889e2c36"]]},{"id":"9de7d55755232bdf","type":"comment","z":"a98df67984898219","name":"Select db","info":"","x":1240,"y":280,"wires":[]},{"id":"4293d447bbe55c8e","type":"http response","z":"a98df67984898219","name":"","statusCode":"","headers":{},"x":850,"y":100,"wires":[]},{"id":"5431af0aaff8b8e1","type":"change","z":"a98df67984898219","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\": 1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":60,"wires":[["4293d447bbe55c8e"]]},{"id":"990265b74c64fb2d","type":"change","z":"a98df67984898219","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ObjectID\": payload.ObjectID,\t    \"Temperature\": payload.Temperature,\t    \"Humidity\": payload.Humidity,\t    \"Timestamp\": payload.Timestamp\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":200,"wires":[["13f22b7c0cb7bab3","6e4fbe9ad77ee45b","38efe9426893e287","c9b832bb86b46f4a"]]},{"id":"4fc5f3d84b0df720","type":"ui_chart","z":"a98df67984898219","name":"","group":"eb52cac3b3904f3e","order":1,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1800,"y":100,"wires":[[]]},{"id":"ab07e5c1c625810a","type":"ui_chart","z":"a98df67984898219","name":"","group":"eb52cac3b3904f3e","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1810,"y":160,"wires":[[]]},{"id":"6e4fbe9ad77ee45b","type":"change","z":"a98df67984898219","name":"Change to Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":160,"wires":[["ab07e5c1c625810a"]]},{"id":"38efe9426893e287","type":"change","z":"a98df67984898219","name":"Change to Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":100,"wires":[["4fc5f3d84b0df720"]]},{"id":"dcb515fc5284f098","type":"comment","z":"a98df67984898219","name":"Grafici","info":"","x":1470,"y":40,"wires":[]},{"id":"c9b832bb86b46f4a","type":"debug","z":"a98df67984898219","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1200,"y":120,"wires":[]},{"id":"9da110e02ad05a56","type":"switch","z":"a98df67984898219","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":100,"wires":[["5431af0aaff8b8e1"],["148b69ac87f6ed4b"]]},{"id":"148b69ac87f6ed4b","type":"change","z":"a98df67984898219","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":140,"wires":[["4293d447bbe55c8e"]]},{"id":"fd520613772aa750","type":"sqlite","z":"a98df67984898219","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"SELECT * FROM WindowData\n    ORDER BY ID\n    DESC LIMIT 1","name":"SELECT LAST DBWINDOWDATA","x":500,"y":680,"wires":[["beaab1b1e5fcec53","d8c2e89ff9c0f45c"]]},{"id":"636045db28c811a5","type":"inject","z":"a98df67984898219","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":680,"wires":[["fd520613772aa750"]]},{"id":"beaab1b1e5fcec53","type":"debug","z":"a98df67984898219","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":740,"wires":[]},{"id":"ec9505833846a2bd","type":"http in","z":"a98df67984898219","name":"","url":"/humidityHTTP","method":"get","upload":false,"swaggerDoc":"","x":170,"y":760,"wires":[["fd520613772aa750"]]},{"id":"d8c2e89ff9c0f45c","type":"http response","z":"a98df67984898219","name":"","statusCode":"","headers":{},"x":810,"y":640,"wires":[]},{"id":"75f34a82d298b0e2","type":"http in","z":"a98df67984898219","name":"","url":"/humidityHTTP","method":"put","upload":false,"swaggerDoc":"","x":290,"y":860,"wires":[["4aed54e49f5a8267","d6465ea335bb1a08"]]},{"id":"247ff04070429df7","type":"sqlite","z":"a98df67984898219","mydb":"6f9889f2e722a38b","sqlquery":"prepared","sql":"UPDATE WindowData SET Temperature = ? WHERE ID = ?","name":"UPDATE WINDOWDATA","x":890,"y":860,"wires":[["9d4631f13f6286a9","d41d6f82270e9f1c"]]},{"id":"4aed54e49f5a8267","type":"change","z":"a98df67984898219","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t    payload.Temperature,\t    payload.ID\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":940,"wires":[["247ff04070429df7","8c05b7849222c36d","da3806aabf6b8a36"]]},{"id":"8c05b7849222c36d","type":"debug","z":"a98df67984898219","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"params","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":920,"wires":[]},{"id":"0b871d222b5a77d0","type":"http response","z":"a98df67984898219","name":"","statusCode":"","headers":{},"x":970,"y":1060,"wires":[]},{"id":"a546b6170f82a902","type":"change","z":"a98df67984898219","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\": 1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1020,"wires":[["0b871d222b5a77d0"]]},{"id":"da3806aabf6b8a36","type":"switch","z":"a98df67984898219","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":1060,"wires":[["a546b6170f82a902"],["4f0dfc2390c299bc"]]},{"id":"4f0dfc2390c299bc","type":"change","z":"a98df67984898219","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1100,"wires":[["0b871d222b5a77d0"]]},{"id":"d6465ea335bb1a08","type":"debug","z":"a98df67984898219","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":840,"wires":[]},{"id":"d41d6f82270e9f1c","type":"sqlite","z":"a98df67984898219","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"SELECT * FROM WindowData\n    WHERE ID = 1","name":"SELECT WINDOWDATA","x":1110,"y":920,"wires":[["8e04d27a348a88cc"]]},{"id":"8e04d27a348a88cc","type":"debug","z":"a98df67984898219","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1300,"y":920,"wires":[]},{"id":"3e34000d42ef3f8d","type":"http in","z":"a98df67984898219","name":"","url":"/humidityHTTP","method":"delete","upload":false,"swaggerDoc":"","x":300,"y":1260,"wires":[["cfd9f5d1cb17d29d"]]},{"id":"77e9be64907fb89e","type":"sqlite","z":"a98df67984898219","mydb":"6f9889f2e722a38b","sqlquery":"prepared","sql":"DELETE FROM WindowData \n    WHERE ID = ?","name":"DELETE WINDOWDATA","x":890,"y":1260,"wires":[["9d4631f13f6286a9"]]},{"id":"cfd9f5d1cb17d29d","type":"change","z":"a98df67984898219","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t   payload.ID\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1260,"wires":[["77e9be64907fb89e","787f60476c887012","d7f292f9d2d1d81f"]]},{"id":"787f60476c887012","type":"debug","z":"a98df67984898219","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"params","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":1320,"wires":[]},{"id":"1637ae6524611f7b","type":"http response","z":"a98df67984898219","name":"","statusCode":"","headers":{},"x":970,"y":1460,"wires":[]},{"id":"32a5bbc5f5702902","type":"change","z":"a98df67984898219","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\": 1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1420,"wires":[["1637ae6524611f7b"]]},{"id":"d7f292f9d2d1d81f","type":"switch","z":"a98df67984898219","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":1460,"wires":[["32a5bbc5f5702902"],["0585d44f0fb34e03"]]},{"id":"0585d44f0fb34e03","type":"change","z":"a98df67984898219","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"status\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1500,"wires":[["1637ae6524611f7b"]]},{"id":"6f9889f2e722a38b","type":"sqlitedb","db":"database1","mode":"RWC"},{"id":"eb52cac3b3904f3e","type":"ui_group","name":"Select","tab":"a940b8b197d490ec","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"a940b8b197d490ec","type":"ui_tab","name":"Sqlite HTTP Humidità","icon":"dashboard","order":3,"disabled":false,"hidden":false}]