6/BackupChatV3.1.json
[
    {
        "id": "be40b0163a8497e3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2854828ae1a131ac",
        "type": "mqtt in",
        "z": "be40b0163a8497e3",
        "name": "",
        "topic": "20231027iot",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2b9358bdd43541e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "f51842ff2d92f257",
                "82994daac456ae2e"
            ]
        ]
    },
    {
        "id": "1db0e85c68b0d70f",
        "type": "debug",
        "z": "be40b0163a8497e3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "e906617e8fcd46c9",
        "type": "mqtt out",
        "z": "be40b0163a8497e3",
        "name": "",
        "topic": "20231027iot",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2b9358bdd43541e3",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "f51842ff2d92f257",
        "type": "switch",
        "z": "be40b0163a8497e3",
        "name": "",
        "property": "payload.receiver",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "mauro",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "1db0e85c68b0d70f",
                "c77a966890cc8386"
            ]
        ]
    },
    {
        "id": "3dd7060a92816b2e",
        "type": "ui_form",
        "z": "be40b0163a8497e3",
        "name": "",
        "label": "",
        "group": "48cf1ed78bf84c7d",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Receiver",
                "value": "receiver",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Message",
                "value": "message",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "receiver": "",
            "message": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "e906617e8fcd46c9"
            ]
        ]
    },
    {
        "id": "32a209e452628c31",
        "type": "inject",
        "z": "be40b0163a8497e3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"receiver\":\"mauro\",\"message\":\"ciao\"}",
        "payloadType": "json",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "e906617e8fcd46c9"
            ]
        ]
    },
    {
        "id": "56e9f4660aafc96e",
        "type": "ui_text",
        "z": "be40b0163a8497e3",
        "group": "b65013c1df3102a2",
        "order": 1,
        "width": "5",
        "height": "14",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Impact,Impact,Charcoal,sans-serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 1570,
        "y": 220,
        "wires": []
    },
    {
        "id": "0357a727f3ff8bb2",
        "type": "function",
        "z": "be40b0163a8497e3",
        "name": "function 2",
        "func": "\nmsg.payload['messages'].push(flow.get(\"lastMessageObj\"))\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 880,
        "wires": [
            [
                "2d8efab11ac75c32",
                "26b501f65255d535"
            ]
        ]
    },
    {
        "id": "507c155ec41867c6",
        "type": "debug",
        "z": "be40b0163a8497e3",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 1040,
        "wires": []
    },
    {
        "id": "3efaee1563cffb89",
        "type": "inject",
        "z": "be40b0163a8497e3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 600,
        "wires": [
            [
                "82994daac456ae2e"
            ]
        ]
    },
    {
        "id": "7a39870744c3b987",
        "type": "file in",
        "z": "be40b0163a8497e3",
        "name": "",
        "filename": "/home/iot23/Progetto_IOT_23_NLM/6/memChat.json",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 640,
        "y": 940,
        "wires": [
            [
                "1e5be3c7665c4bc4"
            ]
        ]
    },
    {
        "id": "1e5be3c7665c4bc4",
        "type": "json",
        "z": "be40b0163a8497e3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1070,
        "y": 940,
        "wires": [
            [
                "507c155ec41867c6",
                "0357a727f3ff8bb2"
            ]
        ]
    },
    {
        "id": "2d8efab11ac75c32",
        "type": "file",
        "z": "be40b0163a8497e3",
        "name": "",
        "filename": "/home/iot23/Progetto_IOT_23_NLM/6/memChat.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1580,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "82994daac456ae2e",
        "type": "change",
        "z": "be40b0163a8497e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "lastMessageObj",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 700,
        "wires": [
            [
                "7a39870744c3b987"
            ]
        ]
    },
    {
        "id": "26b501f65255d535",
        "type": "function",
        "z": "be40b0163a8497e3",
        "name": "function 3",
        "func": "var fullTxt = \"\";\nmsg.payload[\"messages\"].forEach((element) => {\n    fullTxt += \"<br>Per: \" + element.receiver + \"<br>\"\n    fullTxt += \"<br>Messaggio: \" + element.message + \"<br><br>\"\n});\nmsg.payload = fullTxt;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 420,
        "wires": [
            [
                "56e9f4660aafc96e",
                "0ace4d4d7375a805"
            ]
        ]
    },
    {
        "id": "c77a966890cc8386",
        "type": "change",
        "z": "be40b0163a8497e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "0ace4d4d7375a805",
        "type": "debug",
        "z": "be40b0163a8497e3",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 440,
        "wires": []
    },
    {
        "id": "2b9358bdd43541e3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "48cf1ed78bf84c7d",
        "type": "ui_group",
        "name": "Invio",
        "tab": "51fc2c31b972e9c7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b65013c1df3102a2",
        "type": "ui_group",
        "name": "Ricezione",
        "tab": "51fc2c31b972e9c7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "51fc2c31b972e9c7",
        "type": "ui_tab",
        "name": "Chat V3",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]