6/ChatProf2.json
[
    {
        "id": "3a64db0712295c47",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "168f2e98a12091bb",
        "type": "mqtt in",
        "z": "3a64db0712295c47",
        "name": "",
        "topic": "20231027iot",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2b9358bdd43541e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "6bb526e5d61eef3f"
            ]
        ]
    },
    {
        "id": "204e4c31a8cda60f",
        "type": "debug",
        "z": "3a64db0712295c47",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 100,
        "wires": []
    },
    {
        "id": "3aac5c37ce1e2b2d",
        "type": "mqtt out",
        "z": "3a64db0712295c47",
        "name": "",
        "topic": "20231027iot",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2b9358bdd43541e3",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "6bb526e5d61eef3f",
        "type": "switch",
        "z": "3a64db0712295c47",
        "name": "",
        "property": "payload.receiver",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "mauro",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "204e4c31a8cda60f",
                "11214ce47720a3f9",
                "34bfa7016cc7a54e",
                "20970d25ac2835c0"
            ]
        ]
    },
    {
        "id": "3d54c869d7e7e7ef",
        "type": "ui_form",
        "z": "3a64db0712295c47",
        "name": "",
        "label": "",
        "group": "48cf1ed78bf84c7d",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Receiver",
                "value": "receiver",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Message",
                "value": "message",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "receiver": "",
            "message": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "3aac5c37ce1e2b2d"
            ]
        ]
    },
    {
        "id": "bfd4049df6403629",
        "type": "inject",
        "z": "3a64db0712295c47",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"receiver\":\"mauro\",\"message\":\"ciao\"}",
        "payloadType": "json",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "3aac5c37ce1e2b2d"
            ]
        ]
    },
    {
        "id": "b8188e7ed2018f78",
        "type": "change",
        "z": "3a64db0712295c47",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "34bfa7016cc7a54e",
        "type": "ui_text",
        "z": "3a64db0712295c47",
        "group": "b65013c1df3102a2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Receiver",
        "format": "{{msg.payload.receiver}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 960,
        "y": 180,
        "wires": []
    },
    {
        "id": "11214ce47720a3f9",
        "type": "ui_text",
        "z": "3a64db0712295c47",
        "group": "b65013c1df3102a2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Message",
        "format": "{{msg.payload.message}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "ea226a263ab2a3fb",
        "type": "inject",
        "z": "3a64db0712295c47",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 210,
        "y": 500,
        "wires": [
            [
                "cfd1be996e2282f4"
            ]
        ]
    },
    {
        "id": "20970d25ac2835c0",
        "type": "change",
        "z": "3a64db0712295c47",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "memory",
                "pt": "flow",
                "to": "$append($flowContext(\"memory\"), [payload])\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 40,
        "wires": [
            [
                "498531946c9bb97a"
            ]
        ]
    },
    {
        "id": "cfd1be996e2282f4",
        "type": "change",
        "z": "3a64db0712295c47",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "memory",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a4e1fc089a8b2270",
        "type": "ui_text",
        "z": "3a64db0712295c47",
        "group": "b65013c1df3102a2",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Memoria",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1280,
        "y": 60,
        "wires": []
    },
    {
        "id": "498531946c9bb97a",
        "type": "change",
        "z": "3a64db0712295c47",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "memory",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 40,
        "wires": [
            [
                "a4e1fc089a8b2270"
            ]
        ]
    },
    {
        "id": "2b9358bdd43541e3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "48cf1ed78bf84c7d",
        "type": "ui_group",
        "name": "Invio",
        "tab": "51fc2c31b972e9c7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b65013c1df3102a2",
        "type": "ui_group",
        "name": "Ricezione",
        "tab": "51fc2c31b972e9c7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "51fc2c31b972e9c7",
        "type": "ui_tab",
        "name": "Chat V3",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]