6/ChatJs.json
[
    {
        "id": "0e32e9f56c8c4e7c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "acd2aee08d46d2de",
        "type": "mqtt in",
        "z": "0e32e9f56c8c4e7c",
        "name": "",
        "topic": "20231027iot",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2b9358bdd43541e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "ef0752ed7b3c193a",
                "e2c67f8c136d0958"
            ]
        ]
    },
    {
        "id": "0936f86fcb16dfbf",
        "type": "debug",
        "z": "0e32e9f56c8c4e7c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 100,
        "wires": []
    },
    {
        "id": "653e9ec19bbd3431",
        "type": "mqtt out",
        "z": "0e32e9f56c8c4e7c",
        "name": "",
        "topic": "20231027iot",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2b9358bdd43541e3",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "ef0752ed7b3c193a",
        "type": "switch",
        "z": "0e32e9f56c8c4e7c",
        "name": "",
        "property": "payload.receiver",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "mauro",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "0936f86fcb16dfbf",
                "b4af9528d517d879",
                "c7ac4d1d252a51b8",
                "422a18ffc93cd354"
            ]
        ]
    },
    {
        "id": "0deb585ba2723127",
        "type": "ui_form",
        "z": "0e32e9f56c8c4e7c",
        "name": "",
        "label": "",
        "group": "48cf1ed78bf84c7d",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Receiver",
                "value": "receiver",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Message",
                "value": "message",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "receiver": "",
            "message": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "1443f61ff7a19818"
            ]
        ]
    },
    {
        "id": "8b4279d5b9385ce1",
        "type": "inject",
        "z": "0e32e9f56c8c4e7c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"receiver\":\"mauro\",\"message\":\"ciao\"}",
        "payloadType": "json",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "653e9ec19bbd3431"
            ]
        ]
    },
    {
        "id": "1443f61ff7a19818",
        "type": "change",
        "z": "0e32e9f56c8c4e7c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 400,
        "wires": [
            [
                "653e9ec19bbd3431",
                "e2c67f8c136d0958"
            ]
        ]
    },
    {
        "id": "c7ac4d1d252a51b8",
        "type": "ui_text",
        "z": "0e32e9f56c8c4e7c",
        "group": "b65013c1df3102a2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Receiver",
        "format": "{{msg.payload.receiver}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "b4af9528d517d879",
        "type": "ui_text",
        "z": "0e32e9f56c8c4e7c",
        "group": "b65013c1df3102a2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Message",
        "format": "{{msg.payload.message}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "7c73b60a87106340",
        "type": "function",
        "z": "0e32e9f56c8c4e7c",
        "name": "function 2",
        "func": "\nmsg.payload['messages'].push(flow.lastMessageObj)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 880,
        "wires": [
            [
                "0b17666734d87e1d",
                "743f647a60cc7567"
            ]
        ]
    },
    {
        "id": "9c23bb83ba9e0487",
        "type": "debug",
        "z": "0e32e9f56c8c4e7c",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 1040,
        "wires": []
    },
    {
        "id": "70b874d523f89068",
        "type": "inject",
        "z": "0e32e9f56c8c4e7c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 600,
        "wires": [
            [
                "e2c67f8c136d0958"
            ]
        ]
    },
    {
        "id": "6004e3e57af5762a",
        "type": "file in",
        "z": "0e32e9f56c8c4e7c",
        "name": "",
        "filename": "/home/iot23/Progetto_IOT_23_NLM/4/Request response/memChat.json",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 700,
        "y": 940,
        "wires": [
            [
                "3a0ac0686b042188"
            ]
        ]
    },
    {
        "id": "3a0ac0686b042188",
        "type": "json",
        "z": "0e32e9f56c8c4e7c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1150,
        "y": 960,
        "wires": [
            [
                "9c23bb83ba9e0487",
                "7c73b60a87106340"
            ]
        ]
    },
    {
        "id": "0b17666734d87e1d",
        "type": "file",
        "z": "0e32e9f56c8c4e7c",
        "name": "",
        "filename": "/home/iot23/Progetto_IOT_23_NLM/4/Request response/memChat.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1640,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "e2c67f8c136d0958",
        "type": "change",
        "z": "0e32e9f56c8c4e7c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "lastMessageObj",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 820,
        "wires": [
            [
                "6004e3e57af5762a"
            ]
        ]
    },
    {
        "id": "743f647a60cc7567",
        "type": "function",
        "z": "0e32e9f56c8c4e7c",
        "name": "function 3",
        "func": "var fullTxt = \"\";\nmsg.payload[\"messages\"].forEach((element) => {\n    fullTxt += \"<br>\" + element + \"<br>\"\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "422a18ffc93cd354",
        "type": "change",
        "z": "0e32e9f56c8c4e7c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "2b9358bdd43541e3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "48cf1ed78bf84c7d",
        "type": "ui_group",
        "name": "Invio",
        "tab": "51fc2c31b972e9c7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b65013c1df3102a2",
        "type": "ui_group",
        "name": "Ricezione",
        "tab": "51fc2c31b972e9c7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "51fc2c31b972e9c7",
        "type": "ui_tab",
        "name": "Chat V3",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]