6/ChatProf3.json
[
    {
        "id": "4a2933ba8f8aa890",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a4b8905b8a681047",
        "type": "mqtt in",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "topic": "20231027iot",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2b9358bdd43541e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 120,
        "wires": [
            [
                "fa3a0a5d1fad66e4"
            ]
        ]
    },
    {
        "id": "faa6ae83a3304aa8",
        "type": "debug",
        "z": "4a2933ba8f8aa890",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 100,
        "wires": []
    },
    {
        "id": "d3eec615b177d4d3",
        "type": "mqtt out",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "topic": "20231027iot",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2b9358bdd43541e3",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "fa3a0a5d1fad66e4",
        "type": "switch",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "property": "payload.receiver",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ObjectID",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "faa6ae83a3304aa8",
                "19d5e9b495a4d8ec",
                "d19b6aaa3fa25ff6",
                "cf184a6389152311",
                "f8eb744b42733611"
            ]
        ]
    },
    {
        "id": "e2e6c451babb56b3",
        "type": "ui_form",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "label": "",
        "group": "48cf1ed78bf84c7d",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Receiver",
                "value": "receiver",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Message",
                "value": "message",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "receiver": "",
            "message": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "d3eec615b177d4d3"
            ]
        ]
    },
    {
        "id": "e0a9781127bcfc49",
        "type": "inject",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"receiver\":\"d8:3a:dd:59:40:20\",\"message\":\"ciao\"}",
        "payloadType": "json",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "d3eec615b177d4d3"
            ]
        ]
    },
    {
        "id": "17c273d5638807c0",
        "type": "change",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "d19b6aaa3fa25ff6",
        "type": "ui_text",
        "z": "4a2933ba8f8aa890",
        "group": "b65013c1df3102a2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Receiver",
        "format": "{{msg.payload.receiver}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 960,
        "y": 180,
        "wires": []
    },
    {
        "id": "19d5e9b495a4d8ec",
        "type": "ui_text",
        "z": "4a2933ba8f8aa890",
        "group": "b65013c1df3102a2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Message",
        "format": "{{msg.payload.message}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "0173fe710e1b9280",
        "type": "inject",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 210,
        "y": 500,
        "wires": [
            [
                "01c8eba1028eba93"
            ]
        ]
    },
    {
        "id": "cf184a6389152311",
        "type": "change",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "memory",
                "pt": "flow",
                "to": "$append($flowContext(\"memory\"), [payload])\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 40,
        "wires": [
            [
                "4ce0052ea4d6a70e"
            ]
        ]
    },
    {
        "id": "01c8eba1028eba93",
        "type": "change",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "memory",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a4b2251d4f0c8d3e",
        "type": "ui_text",
        "z": "4a2933ba8f8aa890",
        "group": "b65013c1df3102a2",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Memoria",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1280,
        "y": 60,
        "wires": []
    },
    {
        "id": "4ce0052ea4d6a70e",
        "type": "change",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "memory",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 40,
        "wires": [
            [
                "a4b2251d4f0c8d3e",
                "ff963ec189a7af48"
            ]
        ]
    },
    {
        "id": "ba7172d170da2279",
        "type": "comment",
        "z": "4a2933ba8f8aa890",
        "name": "Indirizzo Mac Raspberry",
        "info": "Ether\n\neth0: d8:3a:dd:59:40:20\nwlan0: d8:3a:dd:59:40:21",
        "x": 1610,
        "y": 120,
        "wires": []
    },
    {
        "id": "e5a7d55cf74529f6",
        "type": "exec",
        "z": "4a2933ba8f8aa890",
        "command": "ifconfig eth0 | grep ether",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1850,
        "y": 180,
        "wires": [
            [
                "eeab0f9aa0fc33aa"
            ],
            [],
            []
        ]
    },
    {
        "id": "04b4594d86eaa853",
        "type": "inject",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1610,
        "y": 180,
        "wires": [
            [
                "e5a7d55cf74529f6"
            ]
        ]
    },
    {
        "id": "1ca3117125ed860b",
        "type": "debug",
        "z": "4a2933ba8f8aa890",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2360,
        "y": 180,
        "wires": []
    },
    {
        "id": "eeab0f9aa0fc33aa",
        "type": "change",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$substring(payload, 14, 17)\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "ObjectID",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2140,
        "y": 180,
        "wires": [
            [
                "1ca3117125ed860b"
            ]
        ]
    },
    {
        "id": "f8eb744b42733611",
        "type": "change",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1780,
        "y": 420,
        "wires": [
            [
                "cc188dbb2e1e999e",
                "66e6cc3620e0e48d"
            ]
        ]
    },
    {
        "id": "8facc5ba23c446dd",
        "type": "comment",
        "z": "4a2933ba8f8aa890",
        "name": "Per accendere il led",
        "info": "",
        "x": 1590,
        "y": 300,
        "wires": []
    },
    {
        "id": "cc188dbb2e1e999e",
        "type": "rpi-gpio out",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "pin": "21",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2000,
        "y": 420,
        "wires": []
    },
    {
        "id": "6dec5cff8e4b197c",
        "type": "inject",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1730,
        "y": 500,
        "wires": [
            [
                "136f4db430130e11",
                "db47f2444bcf3081"
            ]
        ]
    },
    {
        "id": "136f4db430130e11",
        "type": "rpi-gpio out",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "pin": "21",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2000,
        "y": 520,
        "wires": []
    },
    {
        "id": "66e6cc3620e0e48d",
        "type": "rpi-gpio out",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "pin": "20",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2000,
        "y": 380,
        "wires": []
    },
    {
        "id": "db47f2444bcf3081",
        "type": "rpi-gpio out",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "pin": "20",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2020,
        "y": 580,
        "wires": []
    },
    {
        "id": "0b5af0f864f5bd88",
        "type": "mqtt out",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "topic": "20231027iota",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2b9358bdd43541e3",
        "x": 1360,
        "y": 180,
        "wires": []
    },
    {
        "id": "ff963ec189a7af48",
        "type": "change",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"ObjectID\":$globalContext('ObjectID')\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 140,
        "wires": [
            [
                "0b5af0f864f5bd88"
            ]
        ]
    },
    {
        "id": "4a3126ab2b45795c",
        "type": "rpi-gpio in",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "pin": "13",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 1550,
        "y": 600,
        "wires": [
            [
                "0e6e7f997a8ea0ee"
            ]
        ]
    },
    {
        "id": "0e6e7f997a8ea0ee",
        "type": "change",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 560,
        "wires": [
            [
                "136f4db430130e11",
                "db47f2444bcf3081"
            ]
        ]
    },
    {
        "id": "734d76ef0c13ae22",
        "type": "rpi-gpio out",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "pin": "21",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2000,
        "y": 760,
        "wires": []
    },
    {
        "id": "cf179036d0243a05",
        "type": "rpi-gpio out",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "pin": "20",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2000,
        "y": 720,
        "wires": []
    },
    {
        "id": "450d0fecf11fc3e8",
        "type": "inject",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1690,
        "y": 700,
        "wires": [
            [
                "b1e8f10489370419",
                "cf179036d0243a05"
            ]
        ]
    },
    {
        "id": "b1e8f10489370419",
        "type": "change",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1800,
        "y": 780,
        "wires": [
            [
                "734d76ef0c13ae22"
            ]
        ]
    },
    {
        "id": "99bdde8bd6b6c17c",
        "type": "rpi-gpio out",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "pin": "21",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2000,
        "y": 900,
        "wires": []
    },
    {
        "id": "52f36904db67b075",
        "type": "rpi-gpio out",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "pin": "20",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2000,
        "y": 860,
        "wires": []
    },
    {
        "id": "bcc49c133ba1a8a4",
        "type": "inject",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1690,
        "y": 840,
        "wires": [
            [
                "4252a0953012e38c",
                "99bdde8bd6b6c17c"
            ]
        ]
    },
    {
        "id": "4252a0953012e38c",
        "type": "change",
        "z": "4a2933ba8f8aa890",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1800,
        "y": 920,
        "wires": [
            [
                "52f36904db67b075"
            ]
        ]
    },
    {
        "id": "2b9358bdd43541e3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "48cf1ed78bf84c7d",
        "type": "ui_group",
        "name": "Invio",
        "tab": "51fc2c31b972e9c7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b65013c1df3102a2",
        "type": "ui_group",
        "name": "Ricezione",
        "tab": "51fc2c31b972e9c7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "51fc2c31b972e9c7",
        "type": "ui_tab",
        "name": "Chat V3",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]