10/PCF8591.json
[{"id":"ecbd2bd9.95c6d8","type":"python-function","z":"efa9e03f.d5eb2","name":"","func":"#!/usr/bin/env python3\n#------------------------------------------------------\n#\n#\t\tThis is a program for PCF8591 Module.\n#\n#\t\tWarnng! The Analog input MUST NOT be over 3.3V!\n#    \n#\t\tIn this script, we use a poteniometer for analog\n#   input, and a LED on AO for analog output.\n#\n#\t\tyou can import this script to another by:\n#\timport PCF8591 as ADC\n#\t\n#\tADC.Setup(Address)  # Check it by sudo i2cdetect -y -1\n#\tADC.read(channal)\t# Channal range from 0 to 3\n#\tADC.write(Value)\t# Value range from 0 to 255\t\t\n#\n#------------------------------------------------------\nimport smbus\nimport time\n\n# for RPI version 1, use \"bus = smbus.SMBus(0)\"\nbus = smbus.SMBus(1)\n\n#check your PCF8591 address by type in 'sudo i2cdetect -y -1' in terminal.\ndef setup(Addr):\n\tglobal address\n\taddress = Addr\n\ndef read(chn): #channel\n\ttry:\n\t\tif chn == 0:\n\t\t\tbus.write_byte(address,0x40)\n\t\tif chn == 1:\n\t\t\tbus.write_byte(address,0x41)\n\t\tif chn == 2:\n\t\t\tbus.write_byte(address,0x42)\n\t\tif chn == 3:\n\t\t\tbus.write_byte(address,0x43)\n\t\tbus.read_byte(address) # dummy read to start conversion\n\texcept Exception as e:\n\t\tmsg[\"error\"]=(\"Address: %s\" % address)\n\treturn bus.read_byte(address)\n\ndef write(val):\n\ttry:\n\t\ttemp = val # move string value to temp\n\t\ttemp = int(temp) # change string to integer\n\t\t# print temp to see on terminal else comment out\n\t\tbus.write_byte_data(address, 0x40, temp)\n\texcept Exception as e:\n\t\tmsg[\"error\"]=(\"Error: Device address: 0x%2X\" % address)\n\nif __name__ == \"__main__\":\n\tsetup(0x48)\n\tmsg[\"payload\"]=read(msg[\"payload\"])\nreturn msg","outputs":1,"x":300,"y":420,"wires":[["e8f14fb0.166ff"]]},{"id":"8edfac55.81ae7","type":"inject","z":"efa9e03f.d5eb2","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[["ecbd2bd9.95c6d8"]]},{"id":"e8f14fb0.166ff","type":"debug","z":"efa9e03f.d5eb2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","x":490,"y":420,"wires":[]}]