finale/Backup/Altri invio/flows-3.json
[{"id":"ebbf49736275a445","type":"tab","label":"Ricevimento PROGETTO FINESTRA","disabled":false,"info":"","env":[]},{"id":"cf952c49da0db4e3","type":"http in","z":"ebbf49736275a445","name":"","url":"/raindrop","method":"post","upload":false,"swaggerDoc":"","x":140,"y":500,"wires":[["757fb6d39f374abf"]]},{"id":"9802d1b2396afc51","type":"http request","z":"ebbf49736275a445","name":"post raindrop","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://0028544.azurewebsites.net/raindrop","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":510,"y":2040,"wires":[["895dbc459cf7d90c"]]},{"id":"0516666e5329fbf7","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":2040,"wires":[["dc791561539b5350"]]},{"id":"dc791561539b5350","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"timestamp\": payload,\t    \"device_id\": \"device 2\",\t    \"rain\": 0,\t    \"temperature\": 30,\t    \"humidity\": 0.5\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":2040,"wires":[["9802d1b2396afc51"]]},{"id":"757fb6d39f374abf","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t    payload.timestamp,\t    payload.device_id,\t    payload.rain,\t    payload.temperature,\t    payload.humidity\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":500,"wires":[["dfe74d5a93958312"]]},{"id":"ecc68af71cab26b0","type":"http response","z":"ebbf49736275a445","name":"","statusCode":"","headers":{},"x":670,"y":500,"wires":[]},{"id":"895dbc459cf7d90c","type":"switch","z":"ebbf49736275a445","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":2040,"wires":[["44bb38090fe2e6db"],["b66001deb95479f2"]]},{"id":"3ffa6a890b46f5d7","type":"debug","z":"ebbf49736275a445","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":2040,"wires":[]},{"id":"44bb38090fe2e6db","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"status\": msg.statusCode,\t    \"message\": \"insert successful\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":2000,"wires":[["3ffa6a890b46f5d7"]]},{"id":"b66001deb95479f2","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"status\": msg.statusCode,\t    \"message\": \"insert failed\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":2080,"wires":[["3ffa6a890b46f5d7"]]},{"id":"dfe74d5a93958312","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"prepared","sql":"INSERT INTO main\nVALUES (?,?,?,?,?)","name":"","x":520,"y":500,"wires":[["ecc68af71cab26b0","7247eb3aaa588629","cdc3d7cb099ba335","684b41586d3e93ce","2b17aaba2ae6a7d3","807fd4f8042db1bf"]]},{"id":"4b353da0e157fc60","type":"ui_table","z":"ebbf49736275a445","group":"6bf632d7013a7c91","name":"","order":2,"width":12,"height":5,"columns":[],"outputs":0,"cts":false,"x":1690,"y":500,"wires":[]},{"id":"611d28eeace0b89a","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT rowid, * FROM main ORDER BY rowid DESC LIMIT 1 ","name":"","x":320,"y":1860,"wires":[["f9f9acdc8f997ef0"]]},{"id":"4a5d9a2284330948","type":"http in","z":"ebbf49736275a445","name":"","url":"/raindrop","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1860,"wires":[["611d28eeace0b89a"]]},{"id":"26abdc2aa66f64b6","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1800,"wires":[["611d28eeace0b89a"]]},{"id":"ce62e741bc400915","type":"inject","z":"ebbf49736275a445","name":"DROP TABLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE IF EXISTS main","payload":"","payloadType":"date","x":150,"y":160,"wires":[["06e4c0f2619e6fa4"]]},{"id":"06e4c0f2619e6fa4","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"msg.topic","sql":"","name":"","x":340,"y":100,"wires":[[]]},{"id":"518a060d702d08f8","type":"inject","z":"ebbf49736275a445","name":"CREATE TABLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE IF NOT EXISTS main (     timestamp TEXT NOT NULL,     device_id TEXT NOT NULL,     rain BOOLEAN NOT NULL,     temperature REAL NOT NULL,     humidity REAL NOT NULL,     PRIMARY KEY (device_id, timestamp) )","payload":"","payloadType":"date","x":160,"y":100,"wires":[["06e4c0f2619e6fa4"]]},{"id":"7247eb3aaa588629","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT rowid, * FROM main ORDER BY rowid DESC LIMIT 1 ","name":"","x":680,"y":680,"wires":[["2d2a022808fc0ba2","3e9ff4c77ba50af8"]]},{"id":"e43e99f5099f7f78","type":"ui_chart","z":"ebbf49736275a445","name":"","group":"6bf632d7013a7c91","order":3,"width":12,"height":8,"label":"Line Chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":990,"y":680,"wires":[[]]},{"id":"2d2a022808fc0ba2","type":"function","z":"ebbf49736275a445","name":"lines","func":"var rain = {};\nvar temperature = {};\nvar humidity = {};\n\nrain.payload = msg.payload[0].rain;\nrain.topic = 'rain';\ntemperature.payload = msg.payload[0].temperature;\ntemperature.topic = 'temperature';\nhumidity.payload = msg.payload[0].humidity;\nhumidity.topic = 'humidity';\n\nreturn [rain, temperature, humidity];\n","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":680,"wires":[["e43e99f5099f7f78"],["e43e99f5099f7f78"],["e43e99f5099f7f78"]]},{"id":"efb6143559207039","type":"function","z":"ebbf49736275a445","name":"clear chart","func":"msg.payload = [];\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":740,"wires":[["e43e99f5099f7f78"]]},{"id":"f9f9acdc8f997ef0","type":"debug","z":"ebbf49736275a445","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":1860,"wires":[]},{"id":"b9c8e4e110ad8c7a","type":"http in","z":"ebbf49736275a445","name":"","url":"/raindrop","method":"delete","upload":false,"swaggerDoc":"","x":700,"y":1860,"wires":[["1e9c19cec3b5537e"]]},{"id":"1e9c19cec3b5537e","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t    payload.rowid\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1860,"wires":[["bb1c8927e6ed8d3d"]]},{"id":"bb1c8927e6ed8d3d","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"prepared","sql":"DELETE FROM main WHERE rowid = ?","name":"","x":1080,"y":1860,"wires":[[]]},{"id":"d628e429c52ca456","type":"ui_gauge","z":"ebbf49736275a445","name":"","group":"466bbded3e4d8df5","order":1,"width":6,"height":5,"gtype":"gage","title":"Rain Counter 24h","label":"times","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1070,"y":320,"wires":[]},{"id":"2b17aaba2ae6a7d3","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT \n    COUNT(CASE WHEN rain > 0 THEN 1 END) AS counter\nFROM main\nWHERE timestamp >= (SELECT MAX(timestamp) FROM main) - 86400000\n  AND timestamp <= (SELECT MAX(timestamp) FROM main);\n","name":"","x":680,"y":320,"wires":[["17146fec117292af"]]},{"id":"17146fec117292af","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":320,"wires":[["d628e429c52ca456"]]},{"id":"684b41586d3e93ce","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT ROUND(AVG(temperature), 2) AS avg_temperature\nFROM main;\n","name":"","x":680,"y":380,"wires":[["ede6305eb0aafdbc"]]},{"id":"ede6305eb0aafdbc","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].avg_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":380,"wires":[["c4b52bd82b94cb34"]]},{"id":"c4b52bd82b94cb34","type":"ui_gauge","z":"ebbf49736275a445","name":"","group":"466bbded3e4d8df5","order":2,"width":6,"height":5,"gtype":"gage","title":"Average Temperature","label":"value","format":"{{value}} °C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1080,"y":380,"wires":[]},{"id":"cdc3d7cb099ba335","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT ROUND(AVG(humidity), 2) AS avg_humidity\nFROM main;\n","name":"","x":680,"y":440,"wires":[["b1eb356ab91fd1a9"]]},{"id":"b1eb356ab91fd1a9","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].avg_humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":440,"wires":[["b32d3a9d8989efd1"]]},{"id":"b32d3a9d8989efd1","type":"ui_gauge","z":"ebbf49736275a445","name":"","group":"466bbded3e4d8df5","order":3,"width":6,"height":5,"gtype":"gage","title":"Average Humidity","label":"value","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1070,"y":440,"wires":[]},{"id":"e8f915b5c8fa7fcb","type":"comment","z":"ebbf49736275a445","name":"Test parte raspberry pi","info":"","x":170,"y":1980,"wires":[]},{"id":"3e9ff4c77ba50af8","type":"function","z":"ebbf49736275a445","name":"notify string","func":"msg.payload = `New record added - [device]: ${msg.payload[0].device_id} [rain]: ${msg.payload[0].rain} [temperature]: ${msg.payload[0].temperature} [humidity]: ${msg.payload[0].humidity}`;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":620,"wires":[["9fce4c8fee62d133"]]},{"id":"9fce4c8fee62d133","type":"ui_toast","z":"ebbf49736275a445","position":"bottom right","displayTime":"10","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1050,"y":620,"wires":[]},{"id":"b6b062c325bc1ab3","type":"ui_button","z":"ebbf49736275a445","name":"","group":"6bf632d7013a7c91","order":5,"width":6,"height":1,"passthru":false,"label":"clear chart","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":670,"y":740,"wires":[["efb6143559207039"]]},{"id":"85f4036a2f17debf","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"DELETE FROM main;\n","name":"","x":1540,"y":500,"wires":[["4b353da0e157fc60"]]},{"id":"a3557e6a8a144a4d","type":"ui_button","z":"ebbf49736275a445","name":"","group":"6bf632d7013a7c91","order":4,"width":6,"height":1,"passthru":false,"label":"clear database","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1360,"y":500,"wires":[["85f4036a2f17debf"]]},{"id":"507e409c5c455d80","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":560,"wires":[["b8f31278e62b5f57"]]},{"id":"807fd4f8042db1bf","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT DISTINCT device_id\nFROM main;\n","name":"","x":680,"y":560,"wires":[["75dd858c32ed8482"]]},{"id":"75dd858c32ed8482","type":"function","z":"ebbf49736275a445","name":"get options","func":"var inputArray = msg.payload;\n\nvar outputArray = inputArray.map(function(obj) {\n    return obj.device_id;\n});\n\nmsg.payload = outputArray;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":560,"wires":[["507e409c5c455d80"]]},{"id":"b8f31278e62b5f57","type":"ui_dropdown","z":"ebbf49736275a445","name":"","label":"","tooltip":"","place":"Select device","group":"6bf632d7013a7c91","order":1,"width":12,"height":1,"passthru":true,"multiple":true,"options":[],"payload":"","topic":"topic","topicType":"msg","className":"","x":1220,"y":560,"wires":[["1daf12baf5da57f9"]]},{"id":"1daf12baf5da57f9","type":"function","z":"ebbf49736275a445","name":"function 1","func":"var devicesArray = msg.payload; // Supponendo che l'array si trovi in msg.payload\n\n// Costruisci la parte della query IN dinamicamente\nvar inClause = devicesArray.map(device => `'${device}'`).join(',');\n\n// Assegna la query al campo `sql` del messaggio\nmsg.topic = `SELECT * FROM main WHERE device_id IN (${inClause})`;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":560,"wires":[["d4b6d92479991e90"]]},{"id":"d4b6d92479991e90","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"msg.topic","sql":"","name":"","x":1540,"y":560,"wires":[["4b353da0e157fc60"]]},{"id":"2521f181bb20da4e","type":"comment","z":"ebbf49736275a445","name":"Data base","info":"","x":100,"y":40,"wires":[]},{"id":"5c746e2dabba9856","type":"comment","z":"ebbf49736275a445","name":"Ottenimento ultimo valore inserito","info":"","x":200,"y":1740,"wires":[]},{"id":"8440c45b9da71992","type":"comment","z":"ebbf49736275a445","name":"Gestione inserimento a db e visualizzazione","info":"","x":230,"y":260,"wires":[]},{"id":"99bfc15c2c49f571","type":"comment","z":"ebbf49736275a445","name":"Pulsanti mqtt","info":"","x":130,"y":820,"wires":[]},{"id":"9a57024ed7279180","type":"ui_button","z":"ebbf49736275a445","name":"","group":"763126969616e421","order":3,"width":0,"height":0,"passthru":false,"label":"Apri/Chiudi","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":920,"wires":[["be7ae9c39eb1e1b9","ae17ef79ae9f9b4d"]]},{"id":"2eb69fa4d78cdff9","type":"switch","z":"ebbf49736275a445","name":"","property":"window_status","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":920,"wires":[["898c884a1116e604"],["8a7bd53f836a8562"]]},{"id":"898c884a1116e604","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"window_status","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":920,"wires":[["5db23c6830cb02c7","aed4c9c28da16f9b"]]},{"id":"8a7bd53f836a8562","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"window_status","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":960,"wires":[["5e399bc334a2e28d","aed4c9c28da16f9b"]]},{"id":"8567d004a989455a","type":"ui_text","z":"ebbf49736275a445","group":"763126969616e421","order":2,"width":0,"height":0,"name":"","label":"Window status:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1880,"y":940,"wires":[]},{"id":"5db23c6830cb02c7","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":920,"wires":[["8567d004a989455a"]]},{"id":"5e399bc334a2e28d","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":960,"wires":[["8567d004a989455a"]]},{"id":"be7ae9c39eb1e1b9","type":"mqtt out","z":"ebbf49736275a445","name":"","topic":"SmartWindowOpenCloseInput","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1a4335dcbe7c945d","x":470,"y":920,"wires":[]},{"id":"4f0fa5037de8397a","type":"mqtt in","z":"ebbf49736275a445","name":"","topic":"SmartWindowOpenCloseOutput","qos":"2","datatype":"auto-detect","broker":"1a4335dcbe7c945d","nl":false,"rap":true,"rh":0,"inputs":0,"x":810,"y":980,"wires":[["2eb69fa4d78cdff9","0f096881b99e01f0"]]},{"id":"ae17ef79ae9f9b4d","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Loading...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":1080,"wires":[["2c35a770f9d12ccd"]]},{"id":"0f096881b99e01f0","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":1040,"wires":[["2c35a770f9d12ccd"]]},{"id":"2c35a770f9d12ccd","type":"ui_text","z":"ebbf49736275a445","group":"763126969616e421","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1230,"y":1060,"wires":[]},{"id":"466cc0062e78cbc9","type":"ui_button","z":"ebbf49736275a445","name":"","group":"6bf632d7013a7c91","order":6,"width":0,"height":0,"passthru":false,"label":"Fetch data","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":1180,"wires":[["79729c98713e4a09","171257e904d0043b"]]},{"id":"79729c98713e4a09","type":"mqtt out","z":"ebbf49736275a445","name":"","topic":"SmartWindowFetchDataInput","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1a4335dcbe7c945d","x":450,"y":1180,"wires":[]},{"id":"33c0bf85631034ba","type":"mqtt in","z":"ebbf49736275a445","name":"","topic":"SmartWindowFetchDataOutput","qos":"2","datatype":"auto-detect","broker":"1a4335dcbe7c945d","nl":false,"rap":true,"rh":0,"inputs":0,"x":810,"y":1180,"wires":[["1a10e7a0735b1b5c"]]},{"id":"171257e904d0043b","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Loading...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1320,"wires":[["3cf69c770ebfa3a4"]]},{"id":"1a10e7a0735b1b5c","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1280,"wires":[["3cf69c770ebfa3a4"]]},{"id":"3cf69c770ebfa3a4","type":"ui_text","z":"ebbf49736275a445","group":"6bf632d7013a7c91","order":7,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":870,"y":1300,"wires":[]},{"id":"7d291206f33752d5","type":"mqtt out","z":"ebbf49736275a445","name":"","topic":"SmartWindowWindowStatus","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1a4335dcbe7c945d","x":1880,"y":800,"wires":[]},{"id":"aed4c9c28da16f9b","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"window_status","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":800,"wires":[["7d291206f33752d5"]]},{"id":"ef62130f714e810b","type":"ui_template","z":"ebbf49736275a445","group":"763126969616e421","name":"WindowImg","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<img src('https://github.com/NiccoloKadera/Progetto_IOT_23_NLM/blob/main/finale/Img/SmartWindowCloseNoLoop.gif?raw=true')>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":410,"y":1060,"wires":[[]]},{"id":"ac5a1acf6d268502","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1080,"wires":[["ef62130f714e810b"]]},{"id":"99d06e729a7151a0","type":"sqlitedb","db":"raindrop","mode":"RWC"},{"id":"6bf632d7013a7c91","type":"ui_group","name":"Data","tab":"7e405941140d8767","order":2,"disp":true,"width":"12","collapse":true,"className":""},{"id":"466bbded3e4d8df5","type":"ui_group","name":"Gauges","tab":"7e405941140d8767","order":3,"disp":true,"width":"6","collapse":true,"className":""},{"id":"763126969616e421","type":"ui_group","name":"Cotroller","tab":"7e405941140d8767","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"1a4335dcbe7c945d","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"7e405941140d8767","type":"ui_tab","name":"SmartWindow","icon":"dashboard","order":1,"disabled":false,"hidden":false}]