finale/Backup/Altri Ricezione progetto v2/flows-3.json
[{"id":"ebbf49736275a445","type":"tab","label":"Ricevimento PROGETTO FINESTRA","disabled":false,"info":"","env":[]},{"id":"cf952c49da0db4e3","type":"http in","z":"ebbf49736275a445","name":"","url":"/raindrop","method":"post","upload":false,"swaggerDoc":"","x":140,"y":500,"wires":[["757fb6d39f374abf"]]},{"id":"9802d1b2396afc51","type":"http request","z":"ebbf49736275a445","name":"post raindrop","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://0028544.azurewebsites.net/raindrop","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":530,"y":2840,"wires":[["895dbc459cf7d90c"]]},{"id":"0516666e5329fbf7","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":2840,"wires":[["dc791561539b5350"]]},{"id":"dc791561539b5350","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"timestamp\": payload,\t    \"device_id\": \"device 2\",\t    \"rain\": 0,\t    \"temperature\": 30,\t    \"humidity\": 0.5\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":2840,"wires":[["9802d1b2396afc51"]]},{"id":"757fb6d39f374abf","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t    payload.timestamp,\t    payload.device_id,\t    payload.rain,\t    payload.temperature,\t    payload.humidity\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":500,"wires":[["dfe74d5a93958312"]]},{"id":"ecc68af71cab26b0","type":"http response","z":"ebbf49736275a445","name":"","statusCode":"","headers":{},"x":670,"y":500,"wires":[]},{"id":"895dbc459cf7d90c","type":"switch","z":"ebbf49736275a445","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":2840,"wires":[["44bb38090fe2e6db"],["b66001deb95479f2"]]},{"id":"3ffa6a890b46f5d7","type":"debug","z":"ebbf49736275a445","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":2840,"wires":[]},{"id":"44bb38090fe2e6db","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"status\": msg.statusCode,\t    \"message\": \"insert successful\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":2800,"wires":[["3ffa6a890b46f5d7"]]},{"id":"b66001deb95479f2","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"status\": msg.statusCode,\t    \"message\": \"insert failed\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":2880,"wires":[["3ffa6a890b46f5d7"]]},{"id":"dfe74d5a93958312","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"prepared","sql":"INSERT INTO main\nVALUES (?,?,?,?,?)","name":"","x":520,"y":500,"wires":[["ecc68af71cab26b0","7247eb3aaa588629","cdc3d7cb099ba335","684b41586d3e93ce","2b17aaba2ae6a7d3","807fd4f8042db1bf"]]},{"id":"4b353da0e157fc60","type":"ui_table","z":"ebbf49736275a445","group":"6bf632d7013a7c91","name":"","order":2,"width":12,"height":5,"columns":[],"outputs":0,"cts":false,"x":1690,"y":500,"wires":[]},{"id":"611d28eeace0b89a","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT rowid, * FROM main ORDER BY rowid DESC LIMIT 1 ","name":"","x":340,"y":2660,"wires":[["f9f9acdc8f997ef0"]]},{"id":"4a5d9a2284330948","type":"http in","z":"ebbf49736275a445","name":"","url":"/raindrop","method":"get","upload":false,"swaggerDoc":"","x":170,"y":2660,"wires":[["611d28eeace0b89a"]]},{"id":"26abdc2aa66f64b6","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":2600,"wires":[["611d28eeace0b89a"]]},{"id":"ce62e741bc400915","type":"inject","z":"ebbf49736275a445","name":"DROP TABLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE IF EXISTS main","payload":"","payloadType":"date","x":150,"y":180,"wires":[["06e4c0f2619e6fa4"]]},{"id":"06e4c0f2619e6fa4","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"msg.topic","sql":"","name":"","x":340,"y":100,"wires":[[]]},{"id":"518a060d702d08f8","type":"inject","z":"ebbf49736275a445","name":"CREATE TABLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE IF NOT EXISTS main (     timestamp TEXT NOT NULL,     device_id TEXT NOT NULL,     rain BOOLEAN NOT NULL,     temperature REAL NOT NULL,     humidity REAL NOT NULL,     PRIMARY KEY (device_id, timestamp) )","payload":"","payloadType":"date","x":160,"y":100,"wires":[["06e4c0f2619e6fa4"]]},{"id":"7247eb3aaa588629","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT rowid, * FROM main ORDER BY rowid DESC LIMIT 1 ","name":"","x":680,"y":680,"wires":[["2d2a022808fc0ba2","3e9ff4c77ba50af8"]]},{"id":"e43e99f5099f7f78","type":"ui_chart","z":"ebbf49736275a445","name":"","group":"6bf632d7013a7c91","order":3,"width":12,"height":8,"label":"Line Chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":990,"y":680,"wires":[[]]},{"id":"2d2a022808fc0ba2","type":"function","z":"ebbf49736275a445","name":"lines","func":"var rain = {};\nvar temperature = {};\nvar humidity = {};\n\nrain.payload = msg.payload[0].rain;\nrain.topic = 'rain';\ntemperature.payload = msg.payload[0].temperature;\ntemperature.topic = 'temperature';\nhumidity.payload = msg.payload[0].humidity;\nhumidity.topic = 'humidity';\n\nreturn [rain, temperature, humidity];\n","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":680,"wires":[["e43e99f5099f7f78"],["e43e99f5099f7f78"],["e43e99f5099f7f78"]]},{"id":"efb6143559207039","type":"function","z":"ebbf49736275a445","name":"clear chart","func":"msg.payload = [];\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":740,"wires":[["e43e99f5099f7f78"]]},{"id":"f9f9acdc8f997ef0","type":"debug","z":"ebbf49736275a445","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":2660,"wires":[]},{"id":"b9c8e4e110ad8c7a","type":"http in","z":"ebbf49736275a445","name":"","url":"/raindrop","method":"delete","upload":false,"swaggerDoc":"","x":720,"y":2660,"wires":[["1e9c19cec3b5537e"]]},{"id":"1e9c19cec3b5537e","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t    payload.rowid\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2660,"wires":[["bb1c8927e6ed8d3d"]]},{"id":"bb1c8927e6ed8d3d","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"prepared","sql":"DELETE FROM main WHERE rowid = ?","name":"","x":1100,"y":2660,"wires":[[]]},{"id":"d628e429c52ca456","type":"ui_gauge","z":"ebbf49736275a445","name":"","group":"466bbded3e4d8df5","order":1,"width":6,"height":5,"gtype":"gage","title":"Rain Counter 24h","label":"times","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1070,"y":320,"wires":[]},{"id":"2b17aaba2ae6a7d3","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT \n    COUNT(CASE WHEN rain > 0 THEN 1 END) AS counter\nFROM main\nWHERE timestamp >= (SELECT MAX(timestamp) FROM main) - 86400000\n  AND timestamp <= (SELECT MAX(timestamp) FROM main);\n","name":"","x":680,"y":320,"wires":[["17146fec117292af"]]},{"id":"17146fec117292af","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":320,"wires":[["d628e429c52ca456"]]},{"id":"684b41586d3e93ce","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT ROUND(AVG(temperature), 2) AS avg_temperature\nFROM main;\n","name":"","x":680,"y":380,"wires":[["ede6305eb0aafdbc"]]},{"id":"ede6305eb0aafdbc","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].avg_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":380,"wires":[["c4b52bd82b94cb34"]]},{"id":"c4b52bd82b94cb34","type":"ui_gauge","z":"ebbf49736275a445","name":"","group":"466bbded3e4d8df5","order":2,"width":6,"height":5,"gtype":"gage","title":"Average Temperature","label":"value","format":"{{value}} °C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1080,"y":380,"wires":[]},{"id":"cdc3d7cb099ba335","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT ROUND(AVG(humidity), 2) AS avg_humidity\nFROM main;\n","name":"","x":680,"y":440,"wires":[["b1eb356ab91fd1a9"]]},{"id":"b1eb356ab91fd1a9","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].avg_humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":440,"wires":[["b32d3a9d8989efd1"]]},{"id":"b32d3a9d8989efd1","type":"ui_gauge","z":"ebbf49736275a445","name":"","group":"466bbded3e4d8df5","order":3,"width":6,"height":5,"gtype":"gage","title":"Average Humidity","label":"value","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1070,"y":440,"wires":[]},{"id":"e8f915b5c8fa7fcb","type":"comment","z":"ebbf49736275a445","name":"Test parte raspberry pi","info":"","x":190,"y":2780,"wires":[]},{"id":"3e9ff4c77ba50af8","type":"function","z":"ebbf49736275a445","name":"notify string","func":"msg.payload = `New record added - [device]: ${msg.payload[0].device_id} [rain]: ${msg.payload[0].rain} [temperature]: ${msg.payload[0].temperature} [humidity]: ${msg.payload[0].humidity}`;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":620,"wires":[["9fce4c8fee62d133"]]},{"id":"9fce4c8fee62d133","type":"ui_toast","z":"ebbf49736275a445","position":"bottom right","displayTime":"10","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1050,"y":620,"wires":[]},{"id":"b6b062c325bc1ab3","type":"ui_button","z":"ebbf49736275a445","name":"","group":"6bf632d7013a7c91","order":5,"width":6,"height":1,"passthru":false,"label":"clear chart","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":670,"y":740,"wires":[["efb6143559207039"]]},{"id":"85f4036a2f17debf","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"DELETE FROM main;\n","name":"","x":1540,"y":500,"wires":[["4b353da0e157fc60"]]},{"id":"a3557e6a8a144a4d","type":"ui_button","z":"ebbf49736275a445","name":"","group":"6bf632d7013a7c91","order":4,"width":6,"height":1,"passthru":false,"label":"clear database","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1360,"y":500,"wires":[["85f4036a2f17debf"]]},{"id":"507e409c5c455d80","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":560,"wires":[["b8f31278e62b5f57"]]},{"id":"807fd4f8042db1bf","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT DISTINCT device_id\nFROM main;\n","name":"","x":680,"y":560,"wires":[["75dd858c32ed8482"]]},{"id":"75dd858c32ed8482","type":"function","z":"ebbf49736275a445","name":"get options","func":"var inputArray = msg.payload;\n\nvar outputArray = inputArray.map(function(obj) {\n    return obj.device_id;\n});\n\nmsg.payload = outputArray;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":560,"wires":[["507e409c5c455d80"]]},{"id":"b8f31278e62b5f57","type":"ui_dropdown","z":"ebbf49736275a445","name":"","label":"","tooltip":"","place":"Select device","group":"6bf632d7013a7c91","order":1,"width":12,"height":1,"passthru":true,"multiple":true,"options":[],"payload":"","topic":"topic","topicType":"msg","className":"","x":1220,"y":560,"wires":[["1daf12baf5da57f9"]]},{"id":"1daf12baf5da57f9","type":"function","z":"ebbf49736275a445","name":"function 1","func":"var devicesArray = msg.payload; // Supponendo che l'array si trovi in msg.payload\n\n// Costruisci la parte della query IN dinamicamente\nvar inClause = devicesArray.map(device => `'${device}'`).join(',');\n\n// Assegna la query al campo `sql` del messaggio\nmsg.topic = `SELECT * FROM main WHERE device_id IN (${inClause})`;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":560,"wires":[["d4b6d92479991e90"]]},{"id":"d4b6d92479991e90","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"msg.topic","sql":"","name":"","x":1540,"y":560,"wires":[["4b353da0e157fc60"]]},{"id":"2521f181bb20da4e","type":"comment","z":"ebbf49736275a445","name":"Data base","info":"","x":100,"y":40,"wires":[]},{"id":"5c746e2dabba9856","type":"comment","z":"ebbf49736275a445","name":"Ottenimento ultimo valore inserito","info":"","x":220,"y":2540,"wires":[]},{"id":"8440c45b9da71992","type":"comment","z":"ebbf49736275a445","name":"Gestione inserimento a db e visualizzazione","info":"","x":230,"y":260,"wires":[]},{"id":"99bfc15c2c49f571","type":"comment","z":"ebbf49736275a445","name":"Pulsanti mqtt","info":"","x":130,"y":820,"wires":[]},{"id":"9a57024ed7279180","type":"ui_button","z":"ebbf49736275a445","name":"","group":"763126969616e421","order":3,"width":0,"height":0,"passthru":false,"label":"Apri/Chiudi","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":920,"wires":[["ae17ef79ae9f9b4d","bcc8748c5a4c8afc"]]},{"id":"2eb69fa4d78cdff9","type":"switch","z":"ebbf49736275a445","name":"","property":"window_status","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":800,"wires":[["898c884a1116e604"],["1aa807c414afa8be"]]},{"id":"898c884a1116e604","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"window_status","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2190,"y":760,"wires":[["5db23c6830cb02c7","aed4c9c28da16f9b"]]},{"id":"8a7bd53f836a8562","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"window_status","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":960,"wires":[["aed4c9c28da16f9b","5e399bc334a2e28d"]]},{"id":"8567d004a989455a","type":"ui_text","z":"ebbf49736275a445","group":"763126969616e421","order":2,"width":0,"height":0,"name":"","label":"Window status:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":3040,"y":1360,"wires":[]},{"id":"5db23c6830cb02c7","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2760,"y":1300,"wires":[["8567d004a989455a","e79b450895eedfcf","6da3c760a1a49f3a"]]},{"id":"5e399bc334a2e28d","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2760,"y":1460,"wires":[["8567d004a989455a","5932b8e201080f58","f070ebeb23f73993"]]},{"id":"be7ae9c39eb1e1b9","type":"mqtt out","z":"ebbf49736275a445","name":"","topic":"SmartWindowOpenCloseInput","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1a4335dcbe7c945d","x":770,"y":920,"wires":[]},{"id":"4f0fa5037de8397a","type":"mqtt in","z":"ebbf49736275a445","name":"","topic":"SmartWindowOpenCloseOutput","qos":"2","datatype":"auto-detect","broker":"1a4335dcbe7c945d","nl":false,"rap":true,"rh":0,"inputs":0,"x":750,"y":980,"wires":[["6a5b096f485c6269"]]},{"id":"ae17ef79ae9f9b4d","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Loading...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":1080,"wires":[["2c35a770f9d12ccd"]]},{"id":"0f096881b99e01f0","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":1040,"wires":[["2c35a770f9d12ccd","df9eb7debf4b837a"]]},{"id":"2c35a770f9d12ccd","type":"ui_text","z":"ebbf49736275a445","group":"763126969616e421","order":4,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1210,"y":1060,"wires":[]},{"id":"466cc0062e78cbc9","type":"ui_button","z":"ebbf49736275a445","name":"","group":"6bf632d7013a7c91","order":6,"width":0,"height":0,"passthru":false,"label":"Fetch data","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":1180,"wires":[["171257e904d0043b","8c9d71534fde71ae"]]},{"id":"79729c98713e4a09","type":"mqtt out","z":"ebbf49736275a445","name":"","topic":"SmartWindowFetchDataInput","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1a4335dcbe7c945d","x":810,"y":1180,"wires":[]},{"id":"33c0bf85631034ba","type":"mqtt in","z":"ebbf49736275a445","name":"","topic":"SmartWindowFetchDataOutput","qos":"2","datatype":"auto-detect","broker":"1a4335dcbe7c945d","nl":false,"rap":true,"rh":0,"inputs":0,"x":1190,"y":1180,"wires":[["209d88f4480cbae9"]]},{"id":"171257e904d0043b","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Loading...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":1320,"wires":[["3cf69c770ebfa3a4"]]},{"id":"1a10e7a0735b1b5c","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":1280,"wires":[["3cf69c770ebfa3a4"]]},{"id":"3cf69c770ebfa3a4","type":"ui_text","z":"ebbf49736275a445","group":"6bf632d7013a7c91","order":7,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1710,"y":1300,"wires":[]},{"id":"7d291206f33752d5","type":"mqtt out","z":"ebbf49736275a445","name":"","topic":"SmartWindowWindowStatus","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1a4335dcbe7c945d","x":2940,"y":720,"wires":[]},{"id":"aed4c9c28da16f9b","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    'settings_window_mac': $flowContext(\"settings_window_mac\"),\t    'window_status': $globalContext('window_status')\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2540,"y":720,"wires":[["7d291206f33752d5"]]},{"id":"ef62130f714e810b","type":"ui_template","z":"ebbf49736275a445","group":"763126969616e421","name":"WindowImg","order":1,"width":"6","height":"4","format":"<img  style=\"width: 140%; height: auto; object-fit: contain; position: relative; left: 50%; top: 50%; transform: translate(-50%, -50%);\" src=\"{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":3390,"y":1360,"wires":[[]]},{"id":"e79b450895eedfcf","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://github.com/NiccoloKadera/Progetto_IOT_23_NLM/blob/main/finale/Img/SmartWindowCloseNoLoop.gif?raw=true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3160,"y":1300,"wires":[["ef62130f714e810b"]]},{"id":"5932b8e201080f58","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://github.com/NiccoloKadera/Progetto_IOT_23_NLM/blob/main/finale/Img/SmartWindowOpenNoLoop.gif?raw=true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3160,"y":1460,"wires":[["ef62130f714e810b"]]},{"id":"6b66f72ea701508c","type":"comment","z":"ebbf49736275a445","name":"Settings","info":"","x":800,"y":1460,"wires":[]},{"id":"2794b7b771fda18e","type":"ui_slider","z":"ebbf49736275a445","name":"","label":"Minimum temperature treshold","tooltip":"Above this temperature, windows could open.","group":"0cc5d22335f19079","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"50","step":1,"className":"","x":910,"y":1520,"wires":[["32ac80b3bb925b07"]]},{"id":"f223b757afe7c3c3","type":"ui_slider","z":"ebbf49736275a445","name":"","label":"Maximun temperature treshold","tooltip":"Under this temperature, windows could open.","group":"0cc5d22335f19079","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"50","step":1,"className":"","x":910,"y":1560,"wires":[["2f116277002b1291"]]},{"id":"505fdf74218d92de","type":"ui_slider","z":"ebbf49736275a445","name":"","label":"Minimun humidity treshold","tooltip":"Above this humidity, windows could open.","group":"0cc5d22335f19079","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"50","step":1,"className":"","x":900,"y":1600,"wires":[["189b2ec713b328ef"]]},{"id":"ba8c15820db21496","type":"ui_slider","z":"ebbf49736275a445","name":"","label":"Maximun humidity treshold","tooltip":"Under this humidity, windows could open.","group":"0cc5d22335f19079","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"50","step":1,"className":"","x":900,"y":1640,"wires":[["d2da150b77127b78"]]},{"id":"a24d8947b70f8c75","type":"ui_audio","z":"ebbf49736275a445","name":"","group":"763126969616e421","voice":"com.apple.eloquence.en-US.Eddy","always":"","x":3360,"y":1120,"wires":[]},{"id":"6da3c760a1a49f3a","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Window is closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3000,"y":1100,"wires":[["f9fe2731782ebbbe"]]},{"id":"f070ebeb23f73993","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Window is open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3000,"y":1160,"wires":[["f9fe2731782ebbbe"]]},{"id":"f9fe2731782ebbbe","type":"switch","z":"ebbf49736275a445","name":"","property":"settings_audio","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":3210,"y":1120,"wires":[["a24d8947b70f8c75"]]},{"id":"591b39bb68dd24e6","type":"comment","z":"ebbf49736275a445","name":"Init all variables","info":"","x":160,"y":2980,"wires":[]},{"id":"f3e475b51f26ab6e","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_audio","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":3040,"wires":[[]]},{"id":"d27959e472cfbd6e","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Enable audio","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":1680,"wires":[["1759d4364f5b878a","2aec7b943248bda5"]]},{"id":"4d84ec4b93f6bfcb","type":"switch","z":"ebbf49736275a445","name":"","property":"settings_audio","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1310,"y":1740,"wires":[["03549f0f3eb205f9"],["ccc8e777fbbe9f87"]]},{"id":"bd08a805262ac5ed","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Disable audio","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":1740,"wires":[["1759d4364f5b878a","2aec7b943248bda5"]]},{"id":"1759d4364f5b878a","type":"ui_button","z":"ebbf49736275a445","name":"","group":"0cc5d22335f19079","order":4,"width":0,"height":0,"passthru":false,"label":"{{msg.payload}}","tooltip":"Enables or disables voice status","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1070,"y":1740,"wires":[["4d84ec4b93f6bfcb"]]},{"id":"03549f0f3eb205f9","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_audio","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1680,"wires":[["d27959e472cfbd6e"]]},{"id":"ccc8e777fbbe9f87","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_audio","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1740,"wires":[["bd08a805262ac5ed"]]},{"id":"32ac80b3bb925b07","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_temperature_min","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":1520,"wires":[["2aec7b943248bda5"]]},{"id":"2f116277002b1291","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_temperature_max","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":1560,"wires":[["2aec7b943248bda5"]]},{"id":"189b2ec713b328ef","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_humidity_min","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1600,"wires":[["2aec7b943248bda5"]]},{"id":"d2da150b77127b78","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_humidity_max","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1640,"wires":[["2aec7b943248bda5"]]},{"id":"1aa807c414afa8be","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT rowid, * FROM main ORDER BY rowid DESC LIMIT 1 ","name":"","x":1280,"y":920,"wires":[["116f185a5cfdb438"]]},{"id":"116f185a5cfdb438","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":920,"wires":[["d918ad0aaec8296e"]]},{"id":"d918ad0aaec8296e","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.temperature","propertyType":"msg","rules":[{"t":"gte","v":"settings_temperature_min","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1390,"y":1020,"wires":[["3be6f4d57ac6d4fe"],["46292d9db5fc0995"]]},{"id":"3be6f4d57ac6d4fe","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.temperature","propertyType":"msg","rules":[{"t":"lte","v":"settings_temperature_max","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":1020,"wires":[["fc58411a052302cc"],["6bc82c2e0127fa48"]]},{"id":"fc58411a052302cc","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.humidity","propertyType":"msg","rules":[{"t":"gte","v":"settings_humidity_min","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1670,"y":1020,"wires":[["903b63801b711c6e"],["07add72b95bc2667"]]},{"id":"903b63801b711c6e","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.humidity","propertyType":"msg","rules":[{"t":"lte","v":"settings_humidity_max","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1810,"y":1020,"wires":[["b69c845810766699"],["5b3952ca0ee7ecdf"]]},{"id":"b69c845810766699","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.rain","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1950,"y":1020,"wires":[["8a7bd53f836a8562"],["ff14e86bc29b9544"]]},{"id":"46292d9db5fc0995","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Unable to open window, check parameters! (temperature_min)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":1100,"wires":[["df9eb7debf4b837a"]]},{"id":"df9eb7debf4b837a","type":"ui_text","z":"ebbf49736275a445","group":"763126969616e421","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":16,"color":"#ff2600","x":1990,"y":1200,"wires":[]},{"id":"6bc82c2e0127fa48","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Unable to open window, check parameters! (temperature_max)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":1100,"wires":[["df9eb7debf4b837a"]]},{"id":"07add72b95bc2667","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Unable to open window, check parameters! (humidity_min)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1880,"y":1100,"wires":[["df9eb7debf4b837a"]]},{"id":"5b3952ca0ee7ecdf","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Unable to open window, check parameters! (humidity_max)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2100,"y":1100,"wires":[["df9eb7debf4b837a"]]},{"id":"ff14e86bc29b9544","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Unable to open window, it's raining!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2320,"y":1100,"wires":[["df9eb7debf4b837a"]]},{"id":"b92ef177593d3457","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Enable auto check","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":1800,"wires":[["1a06f6623bf9392d","2aec7b943248bda5"]]},{"id":"7803a4669fa5b3fe","type":"switch","z":"ebbf49736275a445","name":"","property":"settings_autoCheck","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1310,"y":1860,"wires":[["7d84271e5b152c6d"],["40d31d9b3667452d"]]},{"id":"b2181931ca4a1103","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Disable auto check","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":1860,"wires":[["1a06f6623bf9392d","2aec7b943248bda5"]]},{"id":"1a06f6623bf9392d","type":"ui_button","z":"ebbf49736275a445","name":"","group":"0cc5d22335f19079","order":4,"width":0,"height":0,"passthru":false,"label":"{{msg.payload}}","tooltip":"Enables or disables auto check for automatic opening window","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1070,"y":1860,"wires":[["7803a4669fa5b3fe"]]},{"id":"7d84271e5b152c6d","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_autoCheck","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":1800,"wires":[["b92ef177593d3457","5cb4e6469da2c463"]]},{"id":"40d31d9b3667452d","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_autoCheck","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":1860,"wires":[["b2181931ca4a1103","a0c2f7e5a9f7be2c"]]},{"id":"2b0c1506b518be86","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_autoCheck","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":3100,"wires":[[]]},{"id":"4f3707bac8e451fd","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":3040,"wires":[["f3e475b51f26ab6e"]]},{"id":"c03908522a228889","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":3100,"wires":[["2b0c1506b518be86"]]},{"id":"b76939a58a70931d","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":890,"y":1820,"wires":[["7803a4669fa5b3fe"]]},{"id":"e20fb9e73e3053ca","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":890,"y":1700,"wires":[["4d84ec4b93f6bfcb"]]},{"id":"47510c5f15268783","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"CREATE TABLE settings (\n    ID INTEGER PRIMARY KEY AUTOINCREMENT,\n    TimeSt varchar(255),\n    settings_window_mac varchar(255),\n    settings_audio int,\n    settings_autoCheck int,\n    settings_humidity_max int,\n    settings_humidity_min int,\n    settings_temperature_max int,\n    settings_temperature_min int\n);","name":"CREATE SETTINGS","x":860,"y":100,"wires":[[]]},{"id":"9d19e67c0e728180","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":660,"y":100,"wires":[["47510c5f15268783"]]},{"id":"a9b36211c142ca8f","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"DROP TABLE settings","name":"DROP SETTINGS","x":850,"y":160,"wires":[[]]},{"id":"f93961976dfa953c","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":660,"y":160,"wires":[["a9b36211c142ca8f"]]},{"id":"2c0f1ab7979f3bb2","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT rowid, * FROM settings ORDER BY rowid DESC LIMIT 1 ","name":"","x":1460,"y":2660,"wires":[["cefd03bcd9c3fe98"]]},{"id":"e314ac7bf38523bf","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1300,"y":2660,"wires":[["2c0f1ab7979f3bb2"]]},{"id":"cefd03bcd9c3fe98","type":"debug","z":"ebbf49736275a445","name":"debug 27","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]","targetType":"msg","statusVal":"","statusType":"auto","x":1620,"y":2660,"wires":[]},{"id":"9f5b3e1b9869bf45","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"prepared","sql":"INSERT INTO settings VALUES (null, ?, ?, ?, ?, ?, ?, ?, ?);","name":"INSERT IN SETTINGS","x":2340,"y":1640,"wires":[[]]},{"id":"2aec7b943248bda5","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t    $millis(),\t    $flowContext(\"settings_window_mac\"),\t    $flowContext(\"settings_audio\"),\t    $flowContext(\"settings_autoCheck\"),\t    $flowContext(\"settings_humidity_max\"),\t    $flowContext(\"settings_humidity_min\"),\t    $flowContext(\"settings_temperature_max\"),\t    $flowContext(\"settings_temperature_min\")\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2120,"y":1640,"wires":[["9f5b3e1b9869bf45"]]},{"id":"88fab5aa60d50df5","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.75","topic":"","payload":"","payloadType":"date","x":2030,"y":680,"wires":[["898c884a1116e604"]]},{"id":"8df96f34e5a52e8b","type":"comment","z":"ebbf49736275a445","name":"Settings update","info":"","x":180,"y":1460,"wires":[]},{"id":"086bb1f8b40c8666","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT rowid, * FROM settings ORDER BY rowid DESC LIMIT 1 ","name":"","x":200,"y":1600,"wires":[["7f665b88dba1d0c3"]]},{"id":"8aa48f4d84822104","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":190,"y":1520,"wires":[["086bb1f8b40c8666"]]},{"id":"7f665b88dba1d0c3","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1680,"wires":[["01309bc56c3b5886","4d9fd6e44ec3fc5e","aae9bc69dcd6c134","231ad8887350a64d","3cd509d7166eabc7"]]},{"id":"231ad8887350a64d","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.settings_temperature_min","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1520,"wires":[["2794b7b771fda18e"]]},{"id":"aae9bc69dcd6c134","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.settings_temperature_max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1560,"wires":[["f223b757afe7c3c3"]]},{"id":"4d9fd6e44ec3fc5e","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.settings_humidity_min","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1600,"wires":[["505fdf74218d92de"]]},{"id":"01309bc56c3b5886","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.settings_humidity_max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1640,"wires":[["ba8c15820db21496"]]},{"id":"94fcf177e5549f3f","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":1300,"wires":[["8c9d71534fde71ae"]]},{"id":"d43af4ef26a30cd1","type":"comment","z":"ebbf49736275a445","name":"Auto check","info":"","x":170,"y":2160,"wires":[]},{"id":"a304a9cfb8c81f22","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":210,"y":2240,"wires":[["923face0e2cbd4c5"]]},{"id":"ff34eeff78f18986","type":"ui_text","z":"ebbf49736275a445","group":"763126969616e421","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":16,"color":"#96d35f","x":1950,"y":1980,"wires":[]},{"id":"5cb4e6469da2c463","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":1940,"wires":[["ff34eeff78f18986"]]},{"id":"a0c2f7e5a9f7be2c","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Auto check enabled","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":2000,"wires":[["ff34eeff78f18986"]]},{"id":"ddbcd38a529e2d8a","type":"mqtt out","z":"ebbf49736275a445","name":"","topic":"SmartWindowOpenCloseAutoInput","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1a4335dcbe7c945d","x":840,"y":2240,"wires":[]},{"id":"b3c908c2cc60e013","type":"mqtt in","z":"ebbf49736275a445","name":"","topic":"SmartWindowOpenCloseAutoOutput","qos":"2","datatype":"auto-detect","broker":"1a4335dcbe7c945d","nl":false,"rap":true,"rh":0,"inputs":0,"x":290,"y":2340,"wires":[["fc998266cc9f7689"]]},{"id":"923face0e2cbd4c5","type":"switch","z":"ebbf49736275a445","name":"","property":"settings_autoCheck","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":2240,"wires":[["74a920996e125f83"]]},{"id":"a17fe03c269eaa89","type":"mqtt out","z":"ebbf49736275a445","name":"","topic":"SmartWindowWindowStatus","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1a4335dcbe7c945d","x":2780,"y":2420,"wires":[]},{"id":"987296017ccf6c4c","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    'settings_window_mac': $flowContext(\"settings_window_mac\"),\t    'window_status': $globalContext('window_status')\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2440,"y":2420,"wires":[["a17fe03c269eaa89"]]},{"id":"3f3cad204e4f1cee","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"window_status","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":2300,"wires":[["987296017ccf6c4c","5932b8e201080f58","5e399bc334a2e28d"]]},{"id":"61fdc2d708e36e96","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.temperature","propertyType":"msg","rules":[{"t":"gte","v":"settings_temperature_min","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":2340,"wires":[["4f963c2c87ace1c7"],["6526a91edd951757"]]},{"id":"4f963c2c87ace1c7","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.temperature","propertyType":"msg","rules":[{"t":"lte","v":"settings_temperature_max","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":2340,"wires":[["64224102c086659f"],["6526a91edd951757"]]},{"id":"64224102c086659f","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.humidity","propertyType":"msg","rules":[{"t":"gte","v":"settings_humidity_min","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":2340,"wires":[["1d0d2a073de188b4"],["6526a91edd951757"]]},{"id":"1d0d2a073de188b4","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.humidity","propertyType":"msg","rules":[{"t":"lte","v":"settings_humidity_max","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1570,"y":2340,"wires":[["d8087d785447fb39"],["6526a91edd951757"]]},{"id":"d8087d785447fb39","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.rain","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1710,"y":2340,"wires":[["d9ac5e193b402f6e"],["6526a91edd951757"]]},{"id":"2b672d913a571e91","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT rowid, * FROM main ORDER BY rowid DESC LIMIT 1 ","name":"","x":740,"y":2340,"wires":[["044e5a3de051b2f4"]]},{"id":"044e5a3de051b2f4","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2340,"wires":[["61fdc2d708e36e96"]]},{"id":"d9ac5e193b402f6e","type":"switch","z":"ebbf49736275a445","name":"","property":"window_status","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1970,"y":2300,"wires":[["3f3cad204e4f1cee","e4cbd817738685ca"]]},{"id":"6526a91edd951757","type":"switch","z":"ebbf49736275a445","name":"","property":"window_status","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1890,"y":2420,"wires":[["8bfc0bf7e28ae015","7993dddf282048e9"]]},{"id":"8bfc0bf7e28ae015","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"window_status","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":2420,"wires":[["987296017ccf6c4c","e79b450895eedfcf","5db23c6830cb02c7"]]},{"id":"e4cbd817738685ca","type":"debug","z":"ebbf49736275a445","name":"debug 28","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2440,"y":2360,"wires":[]},{"id":"7993dddf282048e9","type":"debug","z":"ebbf49736275a445","name":"debug 29","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2440,"y":2500,"wires":[]},{"id":"5ff321f2074432a1","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT rowid, * FROM settings ORDER BY rowid DESC LIMIT 20 ","name":"","x":1960,"y":2660,"wires":[["d11b876c8abf96c2"]]},{"id":"431cb0bffdf637e7","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1800,"y":2660,"wires":[["5ff321f2074432a1"]]},{"id":"d11b876c8abf96c2","type":"debug","z":"ebbf49736275a445","name":"debug 30","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2120,"y":2660,"wires":[]},{"id":"62fe863834a4560d","type":"ui_text_input","z":"ebbf49736275a445","name":"","label":"Window MAC Address","tooltip":"MAC address associate with your window, is used to establish secure connection.","group":"0cc5d22335f19079","order":7,"width":"6","height":"2","passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":1640,"y":2060,"wires":[["c52ac1e252008039"]]},{"id":"c52ac1e252008039","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_window_mac","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1910,"y":2060,"wires":[["2aec7b943248bda5"]]},{"id":"3cd509d7166eabc7","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.settings_window_mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":2060,"wires":[["62fe863834a4560d"]]},{"id":"bd211b3efbceb0d2","type":"comment","z":"ebbf49736275a445","name":"RPI MAC","info":"d8:3a:dd:59:40:20","x":1440,"y":2040,"wires":[]},{"id":"74a920996e125f83","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    'settings_window_mac': $flowContext(\"settings_window_mac\")\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":2240,"wires":[["ddbcd38a529e2d8a"]]},{"id":"8c9d71534fde71ae","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    'settings_window_mac': $flowContext(\"settings_window_mac\")\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1180,"wires":[["79729c98713e4a09"]]},{"id":"bcc8748c5a4c8afc","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    'settings_window_mac': $flowContext(\"settings_window_mac\")\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":920,"wires":[["be7ae9c39eb1e1b9"]]},{"id":"fc998266cc9f7689","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.settings_window_mac","propertyType":"msg","rules":[{"t":"eq","v":"settings_window_mac","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":2340,"wires":[["2b672d913a571e91"]]},{"id":"209d88f4480cbae9","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.settings_window_mac","propertyType":"msg","rules":[{"t":"eq","v":"settings_window_mac","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":1370,"y":1220,"wires":[["1a10e7a0735b1b5c"]]},{"id":"6a5b096f485c6269","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.settings_window_mac","propertyType":"msg","rules":[{"t":"eq","v":"settings_window_mac","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":980,"wires":[["2eb69fa4d78cdff9","0f096881b99e01f0"]]},{"id":"99d06e729a7151a0","type":"sqlitedb","db":"raindrop","mode":"RWC"},{"id":"6bf632d7013a7c91","type":"ui_group","name":"Data","tab":"7e405941140d8767","order":2,"disp":true,"width":"12","collapse":true,"className":""},{"id":"466bbded3e4d8df5","type":"ui_group","name":"Gauges","tab":"7e405941140d8767","order":3,"disp":true,"width":"6","collapse":true,"className":""},{"id":"763126969616e421","type":"ui_group","name":"Cotroller","tab":"7e405941140d8767","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"1a4335dcbe7c945d","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"0cc5d22335f19079","type":"ui_group","name":"Settings","tab":"7e405941140d8767","order":4,"disp":true,"width":"6","collapse":true,"className":""},{"id":"7e405941140d8767","type":"ui_tab","name":"SmartWindow","icon":"dashboard","order":1,"disabled":false,"hidden":false}]