8/Ricevimento Temperatura V2.json
[{"id":"3b97f6319b5d7b98","type":"tab","label":"Ricevimento Temperatura","disabled":false,"info":"","env":[]},{"id":"8336a6e48cad12c5","type":"mqtt in","z":"3b97f6319b5d7b98","name":"","topic":"MarcoSpaccatutto","qos":"2","datatype":"auto-detect","broker":"a8e29856988c8b18","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":140,"wires":[["ef693b728e47018b","2b781ff5277e1c5f","9c14d2839d05c37f","8631b350e0e8f6e9"]]},{"id":"1052411972950721","type":"comment","z":"3b97f6319b5d7b98","name":"Ricevimento dati con mqqtt in ed aggiunta a db","info":"","x":280,"y":60,"wires":[]},{"id":"40e396b45046072c","type":"sqlite","z":"3b97f6319b5d7b98","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"CREATE TABLE Temperatures (\n    ID INTEGER PRIMARY KEY AUTOINCREMENT,\n    TimeSt varchar(255),\n    ObjectID varchar(17),\n    Temperature varchar(4)\n);","name":"CREATE TEMPERATURES","x":520,"y":780,"wires":[[]]},{"id":"1581b6da316ca9cf","type":"inject","z":"3b97f6319b5d7b98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":780,"wires":[["40e396b45046072c"]]},{"id":"cd2eb71d379a9778","type":"comment","z":"3b97f6319b5d7b98","name":"Per creare db","info":"","x":170,"y":700,"wires":[]},{"id":"94a092cb8fa64323","type":"sqlite","z":"3b97f6319b5d7b98","mydb":"6f9889f2e722a38b","sqlquery":"prepared","sql":"INSERT INTO Temperatures VALUES (null, ?, ?, ?);","name":"INSERT IN TEMPERATURES","x":980,"y":240,"wires":[["64aaceb5c314c383"]]},{"id":"ef693b728e47018b","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t    payload.ObjectID,\t    payload.Timestamp,\t    payload.Temperature\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":240,"wires":[["94a092cb8fa64323"]]},{"id":"64aaceb5c314c383","type":"sqlite","z":"3b97f6319b5d7b98","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"SELECT * FROM Temperatures","name":"SELECT TEMPERATURES","x":1280,"y":320,"wires":[["14ab7cdbd8860b6a"]]},{"id":"14ab7cdbd8860b6a","type":"ui_table","z":"3b97f6319b5d7b98","group":"e6d944f75f1b1027","name":"","order":3,"width":"12","height":"8","columns":[],"outputs":0,"cts":false,"x":1550,"y":320,"wires":[]},{"id":"d23ac6a917dcee7d","type":"sqlite","z":"3b97f6319b5d7b98","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"DROP TABLE Temperatures","name":"DROP TEMPERATURES","x":510,"y":840,"wires":[[]]},{"id":"7fef9c852d25fc31","type":"inject","z":"3b97f6319b5d7b98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":840,"wires":[["d23ac6a917dcee7d"]]},{"id":"68b29f815014dfd1","type":"ui_chart","z":"3b97f6319b5d7b98","name":"","group":"e6d944f75f1b1027","order":4,"width":"0","height":"0","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1050,"y":180,"wires":[[]]},{"id":"2b781ff5277e1c5f","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":180,"wires":[["68b29f815014dfd1"]]},{"id":"8f4093345e85789d","type":"mqtt out","z":"3b97f6319b5d7b98","name":"","topic":"MarcoConquistatoreDiMondi","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a8e29856988c8b18","x":800,"y":500,"wires":[]},{"id":"59cffb4da48fd1fb","type":"ui_button","z":"3b97f6319b5d7b98","name":"","group":"e6d944f75f1b1027","order":5,"width":0,"height":0,"passthru":false,"label":"Request","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":500,"wires":[["b5a2f74f0d47d0ef","83d7b6be7ec8eab2"]]},{"id":"b2ed9b6e047b4c7e","type":"ui_numeric","z":"3b97f6319b5d7b98","name":"","label":"Treshold Temperatura","tooltip":"","group":"e6d944f75f1b1027","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"-40","max":"40","step":1,"className":"","x":220,"y":600,"wires":[["54285bb4fdf42cd6"]]},{"id":"54285bb4fdf42cd6","type":"mqtt out","z":"3b97f6319b5d7b98","name":"","topic":"MarcoPazzoSgravato","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a8e29856988c8b18","x":500,"y":600,"wires":[]},{"id":"49c3f2b450877f68","type":"ui_button","z":"3b97f6319b5d7b98","name":"","group":"e6d944f75f1b1027","order":7,"width":0,"height":0,"passthru":false,"label":"{{msg.payload}}","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2030,"y":640,"wires":[["6e579a3b1bf658cc"]]},{"id":"1c209ff53eef1e5c","type":"mqtt in","z":"3b97f6319b5d7b98","name":"","topic":"MarcoControllore","qos":"2","datatype":"auto-detect","broker":"a8e29856988c8b18","nl":false,"rap":true,"rh":0,"inputs":0,"x":1200,"y":560,"wires":[["5ab57cc376d3bd7e"]]},{"id":"7aba24cc66b2d7eb","type":"switch","z":"3b97f6319b5d7b98","name":"","property":"ledIsOnOrOff","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1650,"y":600,"wires":[["5f3fca9067073b5d"]]},{"id":"5ab57cc376d3bd7e","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"ledIsOnOrOff","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":640,"wires":[["7aba24cc66b2d7eb","b5be038e5270e56f"]]},{"id":"7ff303fd48777c27","type":"mqtt out","z":"3b97f6319b5d7b98","name":"","topic":"MarcoPulotto","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"a8e29856988c8b18","x":3120,"y":640,"wires":[]},{"id":"b5be038e5270e56f","type":"switch","z":"3b97f6319b5d7b98","name":"","property":"ledIsOnOrOff","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1650,"y":680,"wires":[["2cb36cdaa51cf293"]]},{"id":"5f3fca9067073b5d","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Temperatura sopra treshold, spegni led","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":600,"wires":[["49c3f2b450877f68"]]},{"id":"2cb36cdaa51cf293","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Temperatura sotto treshold","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":680,"wires":[["49c3f2b450877f68"]]},{"id":"62a30ad3f578d339","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Allert ingorato","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1840,"y":840,"wires":[["49c3f2b450877f68"]]},{"id":"837b567d3ae0d7c9","type":"comment","z":"3b97f6319b5d7b98","name":"Controllo allarme e spegnimento","info":"","x":1250,"y":500,"wires":[]},{"id":"6e579a3b1bf658cc","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ObjectID\": $globalContext(\"RPIObjectID_Ideal\"),\t    \"Comando\": 0,\t    \"Comando2\": [30, 40, 50]\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2280,"y":640,"wires":[["5fa8cad89ac8d62a","83d7b6be7ec8eab2"]]},{"id":"9c14d2839d05c37f","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"RPIObjectID","pt":"global","to":"payload.ObjectID","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":360,"wires":[["d16c0b2bb0c7d521"]]},{"id":"5fa8cad89ac8d62a","type":"switch","z":"3b97f6319b5d7b98","name":"","property":"payload.ObjectID","propertyType":"msg","rules":[{"t":"eq","v":"RPIObjectID","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":2530,"y":640,"wires":[["c5ca2f286a8261a9"]]},{"id":"970797ea94fefb78","type":"comment","z":"3b97f6319b5d7b98","name":"Setup","info":"\nAggiungere mac address a flow:\nRPIObjectID -> MAC Address rpi attuale\nRPIObjectID_Ideal -> MAC Address rpi ipotizzato\n\nMACRPI: d8:3a:dd:59:40:20","x":150,"y":1160,"wires":[]},{"id":"3d41e908be873113","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"RPIObjectID_Ideal","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1240,"wires":[[]]},{"id":"b5a2f74f0d47d0ef","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ObjectID\": $globalContext(\"RPIObjectID_Ideal\")\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":500,"wires":[["8f4093345e85789d"]]},{"id":"bfae8a9b6b03574e","type":"ui_dropdown","z":"3b97f6319b5d7b98","name":"","label":"Select RPI MAC","tooltip":"","place":"","group":"e6d944f75f1b1027","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Giusto (d8:3a:dd:59:40:20)","value":"d8:3a:dd:59:40:20","type":"str"},{"label":"Sbagliato (d8:3a:dd:59:40:30)","value":"d8:3a:dd:59:40:30","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":200,"y":1240,"wires":[["3d41e908be873113"]]},{"id":"446e3d75ec4d7088","type":"ui_text","z":"3b97f6319b5d7b98","group":"e6d944f75f1b1027","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","className":"","style":true,"font":"","fontSize":16,"color":"#ff2600","x":2870,"y":1200,"wires":[]},{"id":"f8994cce1398d4a4","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2600,"y":1140,"wires":[["446e3d75ec4d7088"]]},{"id":"6d402ac1d2d48aae","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"MAC Address is wrong","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2620,"y":1240,"wires":[["446e3d75ec4d7088"]]},{"id":"097e0fd40fa88482","type":"comment","z":"3b97f6319b5d7b98","name":"Controllo MAC","info":"","x":2640,"y":1000,"wires":[]},{"id":"83d7b6be7ec8eab2","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ObjectID\": $globalContext(\"RPIObjectID_Ideal\")\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2200,"y":1180,"wires":[["0159d25e986ddba3"]]},{"id":"0159d25e986ddba3","type":"switch","z":"3b97f6319b5d7b98","name":"","property":"payload.ObjectID","propertyType":"msg","rules":[{"t":"eq","v":"RPIObjectID","vt":"global"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2430,"y":1180,"wires":[["f8994cce1398d4a4"],["6d402ac1d2d48aae"]]},{"id":"b573f8c7250d43ba","type":"sqlite","z":"3b97f6319b5d7b98","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"CREATE TABLE Maclist (\n    ObjectID varchar(17)\n);","name":"CREATE MACLIST","x":470,"y":940,"wires":[[]]},{"id":"30685297dadb95f6","type":"inject","z":"3b97f6319b5d7b98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":940,"wires":[["b573f8c7250d43ba"]]},{"id":"d0e65016db334b7f","type":"sqlite","z":"3b97f6319b5d7b98","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"DROP TABLE Maclist","name":"DROP MACLIST","x":460,"y":1000,"wires":[[]]},{"id":"1ded72cb172c5803","type":"inject","z":"3b97f6319b5d7b98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1000,"wires":[["d0e65016db334b7f"]]},{"id":"9463bfbd0fff2cba","type":"sqlite","z":"3b97f6319b5d7b98","mydb":"6f9889f2e722a38b","sqlquery":"prepared","sql":"INSERT INTO Maclist VALUES (?);","name":"INSERT IN MACLIST","x":820,"y":360,"wires":[[]]},{"id":"d16c0b2bb0c7d521","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t    payload.ObjectID\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":360,"wires":[["9463bfbd0fff2cba"]]},{"id":"8631b350e0e8f6e9","type":"sqlite","z":"3b97f6319b5d7b98","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"SELECT * FROM Maclist","name":"SELECT MACLIST","x":710,"y":120,"wires":[["a4eec61f84e41966"]]},{"id":"a4eec61f84e41966","type":"ui_table","z":"3b97f6319b5d7b98","group":"4107062cf28fe918","name":"","order":3,"width":"6","height":"6","columns":[],"outputs":0,"cts":false,"x":990,"y":120,"wires":[]},{"id":"6b57d00922e22f93","type":"sqlite","z":"3b97f6319b5d7b98","mydb":"6f9889f2e722a38b","sqlquery":"prepared","sql":"INSERT INTO Maclist VALUES (?);","name":"INSERT IN MACLIST","x":1160,"y":1040,"wires":[[]]},{"id":"442ad342d2e96ffa","type":"inject","z":"3b97f6319b5d7b98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":640,"y":1040,"wires":[["b2685f6b6299958a"]]},{"id":"b2685f6b6299958a","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t    payload.ObjectID\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1040,"wires":[["6b57d00922e22f93"]]},{"id":"d11fc8917011f2b6","type":"sqlite","z":"3b97f6319b5d7b98","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"SELECT ObjectID FROM Maclist","name":"SELECT MACLIST","x":850,"y":1120,"wires":[["66f8719560c5c2f6"]]},{"id":"4a57da079f18c39e","type":"inject","z":"3b97f6319b5d7b98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":640,"y":1140,"wires":[["d11fc8917011f2b6"]]},{"id":"2cbb25738493d6d5","type":"debug","z":"3b97f6319b5d7b98","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1400,"y":1120,"wires":[]},{"id":"66f8719560c5c2f6","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":1120,"wires":[["2cbb25738493d6d5"]]},{"id":"c5ca2f286a8261a9","type":"change","z":"3b97f6319b5d7b98","name":"","rules":[{"t":"set","p":"ledIsOnOrOff","pt":"flow","to":"0","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2800,"y":640,"wires":[["62a30ad3f578d339","7ff303fd48777c27","45e41b09c31be250"]]},{"id":"45e41b09c31be250","type":"debug","z":"3b97f6319b5d7b98","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3200,"y":780,"wires":[]},{"id":"a8e29856988c8b18","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"6f9889f2e722a38b","type":"sqlitedb","db":"database1","mode":"RWC"},{"id":"e6d944f75f1b1027","type":"ui_group","name":"Select","tab":"7dc1a18ec16881e0","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"4107062cf28fe918","type":"ui_group","name":"Setup","tab":"7dc1a18ec16881e0","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7dc1a18ec16881e0","type":"ui_tab","name":"Sqlite Mqtt Temperatrura","icon":"dashboard","order":2,"disabled":false,"hidden":false}]