8/Ricevimento umidita.json
[{"id":"efe0c26a77c9d2bb","type":"tab","label":"Ricevimento umidità","disabled":false,"info":"","env":[]},{"id":"7f99e3b1dbce1196","type":"sqlite","z":"efe0c26a77c9d2bb","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"CREATE TABLE Humidity (\n    ID INTEGER PRIMARY KEY AUTOINCREMENT,\n    TimeSt varchar(255),\n    ObjectID varchar(17),\n    Temperature varchar(4),\n    Humidity varchar(4)\n);","name":"CREATE HUMIDITY","x":470,"y":480,"wires":[[]]},{"id":"e8b3d59c05865397","type":"inject","z":"efe0c26a77c9d2bb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":480,"wires":[["7f99e3b1dbce1196"]]},{"id":"8f66303b13db8c84","type":"comment","z":"efe0c26a77c9d2bb","name":"Per creare db","info":"","x":150,"y":400,"wires":[]},{"id":"04a48193f06ad38c","type":"sqlite","z":"efe0c26a77c9d2bb","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"DROP TABLE Humidity","name":"DROP HUMIDITY","x":470,"y":540,"wires":[[]]},{"id":"89a79a6cbdc765f5","type":"inject","z":"efe0c26a77c9d2bb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":540,"wires":[["04a48193f06ad38c"]]},{"id":"c8690a484e86243c","type":"http in","z":"efe0c26a77c9d2bb","name":"","url":"/humidityHTTP","method":"get","upload":false,"swaggerDoc":"","x":190,"y":320,"wires":[["3e85657b1cfdc01c","b16b822ca1d1467d"]]},{"id":"5f88174a04f85f46","type":"comment","z":"efe0c26a77c9d2bb","name":"Ricevimento umidità HTTP","info":"","x":190,"y":220,"wires":[]},{"id":"b44c29129c8bba01","type":"ui_table","z":"efe0c26a77c9d2bb","group":"eb52cac3b3904f3e","name":"","order":0,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":1550,"y":540,"wires":[]},{"id":"43170d66edf2bc82","type":"sqlite","z":"efe0c26a77c9d2bb","mydb":"6f9889f2e722a38b","sqlquery":"prepared","sql":"INSERT INTO Humidity VALUES (null, ?, ?, ?, ?);","name":"INSERT IN HUMIDITY","x":1020,"y":320,"wires":[["9eca503d9493b381"]]},{"id":"52e0984d2cc40d65","type":"change","z":"efe0c26a77c9d2bb","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t    payload.ObjectID,\t    payload.Timestamp,\t    payload.Temperature,\t    payload.Humidity\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":320,"wires":[["43170d66edf2bc82"]]},{"id":"9eca503d9493b381","type":"sqlite","z":"efe0c26a77c9d2bb","mydb":"6f9889f2e722a38b","sqlquery":"fixed","sql":"SELECT * FROM Humidity","name":"SELECT HUMIDITY","x":1270,"y":540,"wires":[["b44c29129c8bba01"]]},{"id":"edd2fd71dcbb19d0","type":"comment","z":"efe0c26a77c9d2bb","name":"Select db","info":"","x":1280,"y":400,"wires":[]},{"id":"b3d4b20ef82ec422","type":"http response","z":"efe0c26a77c9d2bb","name":"","statusCode":"","headers":{},"x":590,"y":240,"wires":[]},{"id":"3e85657b1cfdc01c","type":"change","z":"efe0c26a77c9d2bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Success","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":300,"wires":[["b3d4b20ef82ec422"]]},{"id":"e76dfe553b9e3e37","type":"debug","z":"efe0c26a77c9d2bb","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":400,"wires":[]},{"id":"b16b822ca1d1467d","type":"change","z":"efe0c26a77c9d2bb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"ObjectID\": req.query.ObjectID,\t    \"Temperature\": req.query.Temperature,\t    \"Humidity\": req.query.Humidity,\t    \"Timestamp\": req.query.Timestamp\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":360,"wires":[["e76dfe553b9e3e37","52e0984d2cc40d65"]]},{"id":"6f9889f2e722a38b","type":"sqlitedb","db":"database1","mode":"RWC"},{"id":"eb52cac3b3904f3e","type":"ui_group","name":"Select","tab":"a940b8b197d490ec","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a940b8b197d490ec","type":"ui_tab","name":"Sqlite HTTP Humidità","icon":"dashboard","order":3,"disabled":false,"hidden":false}]