finale/Backup/Altri Ricezione progetto v3/flows-5.json
[{"id":"ebbf49736275a445","type":"tab","label":"Ricevimento PROGETTO FINESTRA","disabled":false,"info":"","env":[]},{"id":"cf952c49da0db4e3","type":"http in","z":"ebbf49736275a445","name":"","url":"/raindrop","method":"post","upload":false,"swaggerDoc":"","x":140,"y":480,"wires":[["757fb6d39f374abf"]]},{"id":"9802d1b2396afc51","type":"http request","z":"ebbf49736275a445","name":"post raindrop","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://0028544.azurewebsites.net/raindrop","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":490,"y":3860,"wires":[["895dbc459cf7d90c"]]},{"id":"0516666e5329fbf7","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":3860,"wires":[["dc791561539b5350"]]},{"id":"dc791561539b5350","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"timestamp\": $millis(),\t    \"device_id\": \"device 2\",\t    \"rain\": 0,\t    \"temperature\": 30,\t    \"humidity\": 0.5\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":3860,"wires":[["9802d1b2396afc51"]]},{"id":"757fb6d39f374abf","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t    payload.timestamp,\t    payload.device_id,\t    payload.rain,\t    payload.temperature,\t    payload.humidity\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":480,"wires":[["dfe74d5a93958312"]]},{"id":"ecc68af71cab26b0","type":"http response","z":"ebbf49736275a445","name":"","statusCode":"","headers":{},"x":670,"y":480,"wires":[]},{"id":"895dbc459cf7d90c","type":"switch","z":"ebbf49736275a445","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":3860,"wires":[["44bb38090fe2e6db"],["b66001deb95479f2"]]},{"id":"3ffa6a890b46f5d7","type":"debug","z":"ebbf49736275a445","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":3860,"wires":[]},{"id":"44bb38090fe2e6db","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"status\": msg.statusCode,\t    \"message\": \"insert successful\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":3820,"wires":[["3ffa6a890b46f5d7"]]},{"id":"b66001deb95479f2","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    \"status\": msg.statusCode,\t    \"message\": \"insert failed\"\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":3900,"wires":[["3ffa6a890b46f5d7"]]},{"id":"dfe74d5a93958312","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"prepared","sql":"INSERT INTO main\nVALUES (?,?,?,?,?)","name":"","x":520,"y":480,"wires":[["ecc68af71cab26b0","7247eb3aaa588629","cdc3d7cb099ba335","684b41586d3e93ce","2b17aaba2ae6a7d3","807fd4f8042db1bf"]]},{"id":"4b353da0e157fc60","type":"ui_table","z":"ebbf49736275a445","group":"6bf632d7013a7c91","name":"","order":2,"width":12,"height":5,"columns":[],"outputs":0,"cts":false,"x":1690,"y":480,"wires":[]},{"id":"611d28eeace0b89a","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT rowid, * FROM main ORDER BY rowid DESC LIMIT 1 ","name":"","x":290,"y":3720,"wires":[["f9f9acdc8f997ef0"]]},{"id":"4a5d9a2284330948","type":"http in","z":"ebbf49736275a445","name":"","url":"/raindrop","method":"get","upload":false,"swaggerDoc":"","x":120,"y":3720,"wires":[["611d28eeace0b89a"]]},{"id":"26abdc2aa66f64b6","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":3660,"wires":[["611d28eeace0b89a"]]},{"id":"ce62e741bc400915","type":"inject","z":"ebbf49736275a445","name":"DROP TABLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE IF EXISTS main","payload":"","payloadType":"date","x":150,"y":160,"wires":[["06e4c0f2619e6fa4"]]},{"id":"06e4c0f2619e6fa4","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"msg.topic","sql":"","name":"","x":340,"y":100,"wires":[[]]},{"id":"518a060d702d08f8","type":"inject","z":"ebbf49736275a445","name":"CREATE TABLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE IF NOT EXISTS main (     timestamp TEXT NOT NULL,     device_id TEXT NOT NULL,     rain BOOLEAN NOT NULL,     temperature REAL NOT NULL,     humidity REAL NOT NULL,     PRIMARY KEY (device_id, timestamp) )","payload":"","payloadType":"date","x":160,"y":100,"wires":[["06e4c0f2619e6fa4"]]},{"id":"7247eb3aaa588629","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT rowid, * FROM main ORDER BY rowid DESC LIMIT 1 ","name":"","x":680,"y":660,"wires":[["2d2a022808fc0ba2","3e9ff4c77ba50af8"]]},{"id":"e43e99f5099f7f78","type":"ui_chart","z":"ebbf49736275a445","name":"","group":"6bf632d7013a7c91","order":3,"width":12,"height":8,"label":"Line Chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":990,"y":660,"wires":[[]]},{"id":"2d2a022808fc0ba2","type":"function","z":"ebbf49736275a445","name":"lines","func":"var rain = {};\nvar temperature = {};\nvar humidity = {};\n\nrain.payload = msg.payload[0].rain;\nrain.topic = 'rain';\ntemperature.payload = msg.payload[0].temperature;\ntemperature.topic = 'temperature';\nhumidity.payload = msg.payload[0].humidity;\nhumidity.topic = 'humidity';\n\nreturn [rain, temperature, humidity];\n","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":660,"wires":[["e43e99f5099f7f78"],["e43e99f5099f7f78"],["e43e99f5099f7f78"]]},{"id":"efb6143559207039","type":"function","z":"ebbf49736275a445","name":"clear chart","func":"msg.payload = [];\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":720,"wires":[["e43e99f5099f7f78"]]},{"id":"f9f9acdc8f997ef0","type":"debug","z":"ebbf49736275a445","name":"debug 20","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":3720,"wires":[]},{"id":"b9c8e4e110ad8c7a","type":"http in","z":"ebbf49736275a445","name":"","url":"/raindrop","method":"delete","upload":false,"swaggerDoc":"","x":670,"y":3720,"wires":[["1e9c19cec3b5537e"]]},{"id":"1e9c19cec3b5537e","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t    payload.rowid\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":3720,"wires":[["bb1c8927e6ed8d3d"]]},{"id":"bb1c8927e6ed8d3d","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"prepared","sql":"DELETE FROM main WHERE rowid = ?","name":"","x":1050,"y":3720,"wires":[[]]},{"id":"d628e429c52ca456","type":"ui_gauge","z":"ebbf49736275a445","name":"","group":"466bbded3e4d8df5","order":1,"width":6,"height":5,"gtype":"gage","title":"Rain Counter 24h","label":"times","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1070,"y":300,"wires":[]},{"id":"2b17aaba2ae6a7d3","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT \n    COUNT(CASE WHEN rain > 0 THEN 1 END) AS counter\nFROM main\nWHERE timestamp >= (SELECT MAX(timestamp) FROM main) - 86400000\n  AND timestamp <= (SELECT MAX(timestamp) FROM main);\n","name":"","x":680,"y":300,"wires":[["17146fec117292af"]]},{"id":"17146fec117292af","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":300,"wires":[["d628e429c52ca456"]]},{"id":"684b41586d3e93ce","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT ROUND(AVG(temperature), 2) AS avg_temperature\nFROM main;\n","name":"","x":680,"y":360,"wires":[["ede6305eb0aafdbc"]]},{"id":"ede6305eb0aafdbc","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].avg_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":360,"wires":[["c4b52bd82b94cb34"]]},{"id":"c4b52bd82b94cb34","type":"ui_gauge","z":"ebbf49736275a445","name":"","group":"466bbded3e4d8df5","order":2,"width":6,"height":5,"gtype":"gage","title":"Average Temperature","label":"value","format":"{{value}} °C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1080,"y":360,"wires":[]},{"id":"cdc3d7cb099ba335","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT ROUND(AVG(humidity), 2) AS avg_humidity\nFROM main;\n","name":"","x":680,"y":420,"wires":[["b1eb356ab91fd1a9"]]},{"id":"b1eb356ab91fd1a9","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].avg_humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":420,"wires":[["b32d3a9d8989efd1"]]},{"id":"b32d3a9d8989efd1","type":"ui_gauge","z":"ebbf49736275a445","name":"","group":"466bbded3e4d8df5","order":3,"width":6,"height":5,"gtype":"gage","title":"Average Humidity","label":"value","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1070,"y":420,"wires":[]},{"id":"e8f915b5c8fa7fcb","type":"comment","z":"ebbf49736275a445","name":"Test parte raspberry pi","info":"","x":150,"y":3800,"wires":[]},{"id":"3e9ff4c77ba50af8","type":"function","z":"ebbf49736275a445","name":"notify string","func":"msg.payload = `New record added - [device]: ${msg.payload[0].device_id} [rain]: ${msg.payload[0].rain} [temperature]: ${msg.payload[0].temperature} [humidity]: ${msg.payload[0].humidity}`;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":600,"wires":[["9fce4c8fee62d133"]]},{"id":"9fce4c8fee62d133","type":"ui_toast","z":"ebbf49736275a445","position":"bottom right","displayTime":"10","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1050,"y":600,"wires":[]},{"id":"b6b062c325bc1ab3","type":"ui_button","z":"ebbf49736275a445","name":"","group":"6bf632d7013a7c91","order":5,"width":6,"height":1,"passthru":false,"label":"clear chart","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":670,"y":720,"wires":[["efb6143559207039"]]},{"id":"85f4036a2f17debf","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"DELETE FROM main;\n","name":"","x":1540,"y":480,"wires":[["4b353da0e157fc60"]]},{"id":"a3557e6a8a144a4d","type":"ui_button","z":"ebbf49736275a445","name":"","group":"6bf632d7013a7c91","order":4,"width":6,"height":1,"passthru":false,"label":"clear database","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1360,"y":480,"wires":[["85f4036a2f17debf"]]},{"id":"507e409c5c455d80","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":540,"wires":[["b8f31278e62b5f57"]]},{"id":"807fd4f8042db1bf","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT DISTINCT device_id\nFROM main;\n","name":"","x":680,"y":540,"wires":[["75dd858c32ed8482"]]},{"id":"75dd858c32ed8482","type":"function","z":"ebbf49736275a445","name":"get options","func":"var inputArray = msg.payload;\n\nvar outputArray = inputArray.map(function(obj) {\n    return obj.device_id;\n});\n\nmsg.payload = outputArray;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":540,"wires":[["507e409c5c455d80"]]},{"id":"b8f31278e62b5f57","type":"ui_dropdown","z":"ebbf49736275a445","name":"","label":"","tooltip":"","place":"Select device","group":"6bf632d7013a7c91","order":1,"width":12,"height":1,"passthru":true,"multiple":true,"options":[],"payload":"","topic":"topic","topicType":"msg","className":"","x":1220,"y":540,"wires":[["1daf12baf5da57f9"]]},{"id":"1daf12baf5da57f9","type":"function","z":"ebbf49736275a445","name":"function 1","func":"var devicesArray = msg.payload; // Supponendo che l'array si trovi in msg.payload\n\n// Costruisci la parte della query IN dinamicamente\nvar inClause = devicesArray.map(device => `'${device}'`).join(',');\n\n// Assegna la query al campo `sql` del messaggio\nmsg.topic = `SELECT * FROM main WHERE device_id IN (${inClause})`;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":540,"wires":[["d4b6d92479991e90"]]},{"id":"d4b6d92479991e90","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"msg.topic","sql":"","name":"","x":1540,"y":540,"wires":[["4b353da0e157fc60"]]},{"id":"2521f181bb20da4e","type":"comment","z":"ebbf49736275a445","name":"Raindrop DB","info":"","x":130,"y":40,"wires":[]},{"id":"5c746e2dabba9856","type":"comment","z":"ebbf49736275a445","name":"Ottenimento ultimo valore inserito","info":"","x":180,"y":3600,"wires":[]},{"id":"8440c45b9da71992","type":"comment","z":"ebbf49736275a445","name":"Gestione inserimento a db e visualizzazione","info":"","x":230,"y":240,"wires":[]},{"id":"99bfc15c2c49f571","type":"comment","z":"ebbf49736275a445","name":"Pulsanti mqtt","info":"","x":130,"y":1740,"wires":[]},{"id":"9a57024ed7279180","type":"ui_button","z":"ebbf49736275a445","name":"","group":"763126969616e421","order":4,"width":0,"height":0,"passthru":false,"label":"Apri/Chiudi","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1800,"wires":[["ae17ef79ae9f9b4d","bcc8748c5a4c8afc"]]},{"id":"2eb69fa4d78cdff9","type":"switch","z":"ebbf49736275a445","name":"","property":"window_status","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1980,"wires":[["898c884a1116e604","771828f354624776"],["1aa807c414afa8be"]]},{"id":"898c884a1116e604","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"window_status","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":1980,"wires":[["5db23c6830cb02c7","aed4c9c28da16f9b","72e021daa87e0d9a","2624a3b8cff38352"]]},{"id":"8a7bd53f836a8562","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"window_status","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":2040,"wires":[["aed4c9c28da16f9b","5e399bc334a2e28d","4075b616d62cd9ce"]]},{"id":"8567d004a989455a","type":"ui_text","z":"ebbf49736275a445","group":"763126969616e421","order":3,"width":0,"height":0,"name":"","label":"Window status:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":3020,"y":2320,"wires":[]},{"id":"5db23c6830cb02c7","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2780,"y":2380,"wires":[["8567d004a989455a","e79b450895eedfcf","6da3c760a1a49f3a"]]},{"id":"5e399bc334a2e28d","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2780,"y":2240,"wires":[["8567d004a989455a","5932b8e201080f58","f070ebeb23f73993"]]},{"id":"be7ae9c39eb1e1b9","type":"mqtt out","z":"ebbf49736275a445","name":"","topic":"SmartWindowOpenCloseInput","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1a4335dcbe7c945d","x":570,"y":1800,"wires":[]},{"id":"4f0fa5037de8397a","type":"mqtt in","z":"ebbf49736275a445","name":"","topic":"SmartWindowOpenCloseOutput","qos":"2","datatype":"auto-detect","broker":"1a4335dcbe7c945d","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":1980,"wires":[["6a5b096f485c6269"]]},{"id":"ae17ef79ae9f9b4d","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Loading...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1860,"wires":[["2c35a770f9d12ccd"]]},{"id":"0f096881b99e01f0","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1920,"wires":[["2c35a770f9d12ccd","df9eb7debf4b837a"]]},{"id":"2c35a770f9d12ccd","type":"ui_text","z":"ebbf49736275a445","group":"763126969616e421","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":490,"y":1860,"wires":[]},{"id":"7d291206f33752d5","type":"mqtt out","z":"ebbf49736275a445","name":"","topic":"SmartWindowWindowStatus","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1a4335dcbe7c945d","x":2740,"y":1980,"wires":[]},{"id":"aed4c9c28da16f9b","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    'settings_window_mac': $flowContext(\"settings_window_mac\"),\t    'window_status': $globalContext('window_status')\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2500,"y":1980,"wires":[["7d291206f33752d5"]]},{"id":"ef62130f714e810b","type":"ui_template","z":"ebbf49736275a445","group":"763126969616e421","name":"WindowImg","order":1,"width":6,"height":4,"format":"<img  style=\"width: 100%; height: auto; object-fit: contain; position: relative; left: 50%; top: 50%; transform: translate(-50%, -50%);\" src=\"{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":3430,"y":2440,"wires":[[]]},{"id":"e79b450895eedfcf","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://github.com/NiccoloKadera/Progetto_IOT_23_NLM/blob/main/finale/Img/SmartWindowCloseNoLoop.gif?raw=true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3020,"y":2440,"wires":[["ef62130f714e810b"]]},{"id":"5932b8e201080f58","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"https://github.com/NiccoloKadera/Progetto_IOT_23_NLM/blob/main/finale/Img/SmartWindowOpenNoLoop.gif?raw=true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3020,"y":2540,"wires":[["ef62130f714e810b"]]},{"id":"6b66f72ea701508c","type":"comment","z":"ebbf49736275a445","name":"Settings","info":"","x":720,"y":2940,"wires":[]},{"id":"2794b7b771fda18e","type":"ui_slider","z":"ebbf49736275a445","name":"","label":"Minimum temperature treshold","tooltip":"Above this temperature, windows could open.","group":"0cc5d22335f19079","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"50","step":1,"className":"","x":990,"y":3000,"wires":[["32ac80b3bb925b07"]]},{"id":"f223b757afe7c3c3","type":"ui_slider","z":"ebbf49736275a445","name":"","label":"Maximun temperature treshold","tooltip":"Under this temperature, windows could open.","group":"0cc5d22335f19079","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"50","step":1,"className":"","x":990,"y":3040,"wires":[["2f116277002b1291"]]},{"id":"505fdf74218d92de","type":"ui_slider","z":"ebbf49736275a445","name":"","label":"Minimun humidity treshold","tooltip":"Above this humidity, windows could open.","group":"0cc5d22335f19079","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"50","step":1,"className":"","x":970,"y":3080,"wires":[["189b2ec713b328ef"]]},{"id":"ba8c15820db21496","type":"ui_slider","z":"ebbf49736275a445","name":"","label":"Maximun humidity treshold","tooltip":"Under this humidity, windows could open.","group":"0cc5d22335f19079","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"50","step":1,"className":"","x":980,"y":3120,"wires":[["d2da150b77127b78"]]},{"id":"a24d8947b70f8c75","type":"ui_audio","z":"ebbf49736275a445","name":"","group":"763126969616e421","voice":"com.apple.eloquence.en-US.Eddy","always":"","x":3560,"y":2380,"wires":[]},{"id":"6da3c760a1a49f3a","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Window is closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3020,"y":2380,"wires":[["f9fe2731782ebbbe"]]},{"id":"f070ebeb23f73993","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Window is open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3020,"y":2240,"wires":[["f9fe2731782ebbbe"]]},{"id":"f9fe2731782ebbbe","type":"switch","z":"ebbf49736275a445","name":"","property":"settings_audio","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":3410,"y":2380,"wires":[["a24d8947b70f8c75"]]},{"id":"591b39bb68dd24e6","type":"comment","z":"ebbf49736275a445","name":"Init all variables","info":"","x":130,"y":3940,"wires":[]},{"id":"f3e475b51f26ab6e","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_audio","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":4000,"wires":[[]]},{"id":"d27959e472cfbd6e","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Enable audio","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":3180,"wires":[["1759d4364f5b878a","2aec7b943248bda5"]]},{"id":"4d84ec4b93f6bfcb","type":"switch","z":"ebbf49736275a445","name":"","property":"settings_audio","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":3240,"wires":[["03549f0f3eb205f9"],["ccc8e777fbbe9f87"]]},{"id":"bd08a805262ac5ed","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Disable audio","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":3240,"wires":[["1759d4364f5b878a","2aec7b943248bda5"]]},{"id":"1759d4364f5b878a","type":"ui_button","z":"ebbf49736275a445","name":"","group":"0cc5d22335f19079","order":7,"width":0,"height":0,"passthru":false,"label":"{{msg.payload}}","tooltip":"Enables or disables voice status","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":890,"y":3240,"wires":[["4d84ec4b93f6bfcb"]]},{"id":"03549f0f3eb205f9","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_audio","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":3180,"wires":[["d27959e472cfbd6e"]]},{"id":"ccc8e777fbbe9f87","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_audio","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":3240,"wires":[["bd08a805262ac5ed"]]},{"id":"32ac80b3bb925b07","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_temperature_min","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":3000,"wires":[["2aec7b943248bda5"]]},{"id":"2f116277002b1291","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_temperature_max","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":3040,"wires":[["2aec7b943248bda5"]]},{"id":"189b2ec713b328ef","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_humidity_min","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":3080,"wires":[["2aec7b943248bda5"]]},{"id":"d2da150b77127b78","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_humidity_max","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":3120,"wires":[["2aec7b943248bda5"]]},{"id":"1aa807c414afa8be","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT rowid, * FROM main ORDER BY rowid DESC LIMIT 1 ","name":"","x":700,"y":2040,"wires":[["116f185a5cfdb438"]]},{"id":"116f185a5cfdb438","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":2040,"wires":[["d918ad0aaec8296e"]]},{"id":"d918ad0aaec8296e","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.temperature","propertyType":"msg","rules":[{"t":"gte","v":"settings_temperature_min","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":2040,"wires":[["3be6f4d57ac6d4fe"],["46292d9db5fc0995"]]},{"id":"3be6f4d57ac6d4fe","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.temperature","propertyType":"msg","rules":[{"t":"lte","v":"settings_temperature_max","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1190,"y":2040,"wires":[["fc58411a052302cc"],["6bc82c2e0127fa48"]]},{"id":"fc58411a052302cc","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.humidity","propertyType":"msg","rules":[{"t":"gte","v":"settings_humidity_min","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1330,"y":2040,"wires":[["903b63801b711c6e"],["07add72b95bc2667"]]},{"id":"903b63801b711c6e","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.humidity","propertyType":"msg","rules":[{"t":"lte","v":"settings_humidity_max","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1470,"y":2040,"wires":[["b69c845810766699"],["5b3952ca0ee7ecdf"]]},{"id":"b69c845810766699","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.rain","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1610,"y":2040,"wires":[["8a7bd53f836a8562"],["ff14e86bc29b9544"]]},{"id":"46292d9db5fc0995","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Unable to open window, check parameters! (temperature_min)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":2100,"wires":[["df9eb7debf4b837a","f8a8557f5e270f4c"]]},{"id":"df9eb7debf4b837a","type":"ui_text","z":"ebbf49736275a445","group":"763126969616e421","order":6,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":16,"color":"#ff2600","x":1430,"y":2260,"wires":[]},{"id":"6bc82c2e0127fa48","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Unable to open window, check parameters! (temperature_max)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":2140,"wires":[["df9eb7debf4b837a","f8a8557f5e270f4c"]]},{"id":"07add72b95bc2667","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Unable to open window, check parameters! (humidity_min)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":2180,"wires":[["df9eb7debf4b837a","f8a8557f5e270f4c"]]},{"id":"5b3952ca0ee7ecdf","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Unable to open window, check parameters! (humidity_max)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":2220,"wires":[["df9eb7debf4b837a","f8a8557f5e270f4c"]]},{"id":"ff14e86bc29b9544","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Unable to open window, it's raining!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":2260,"wires":[["df9eb7debf4b837a","f8a8557f5e270f4c"]]},{"id":"b92ef177593d3457","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Enable auto check","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":3300,"wires":[["1a06f6623bf9392d","2aec7b943248bda5"]]},{"id":"7803a4669fa5b3fe","type":"switch","z":"ebbf49736275a445","name":"","property":"settings_autoCheck","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":3360,"wires":[["7d84271e5b152c6d"],["40d31d9b3667452d"]]},{"id":"b2181931ca4a1103","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Disable auto check","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":3360,"wires":[["1a06f6623bf9392d","2aec7b943248bda5"]]},{"id":"1a06f6623bf9392d","type":"ui_button","z":"ebbf49736275a445","name":"","group":"0cc5d22335f19079","order":8,"width":0,"height":0,"passthru":false,"label":"{{msg.payload}}","tooltip":"Enables or disables auto check for automatic opening window","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":890,"y":3360,"wires":[["7803a4669fa5b3fe"]]},{"id":"7d84271e5b152c6d","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_autoCheck","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":3300,"wires":[["b92ef177593d3457","5cb4e6469da2c463"]]},{"id":"40d31d9b3667452d","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_autoCheck","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":3360,"wires":[["b2181931ca4a1103","a0c2f7e5a9f7be2c"]]},{"id":"2b0c1506b518be86","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_autoCheck","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":4060,"wires":[[]]},{"id":"4f3707bac8e451fd","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":4000,"wires":[["f3e475b51f26ab6e"]]},{"id":"c03908522a228889","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":4060,"wires":[["2b0c1506b518be86"]]},{"id":"b76939a58a70931d","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":710,"y":3320,"wires":[["7803a4669fa5b3fe"]]},{"id":"e20fb9e73e3053ca","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":710,"y":3200,"wires":[["4d84ec4b93f6bfcb"]]},{"id":"47510c5f15268783","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"CREATE TABLE settings (\n    ID INTEGER PRIMARY KEY AUTOINCREMENT,\n    TimeSt varchar(255),\n    settings_audio int,\n    settings_autoCheck int,\n    settings_humidity_max int,\n    settings_humidity_min int,\n    settings_temperature_max int,\n    settings_temperature_min int\n);","name":"CREATE SETTINGS","x":720,"y":100,"wires":[[]]},{"id":"9d19e67c0e728180","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":100,"wires":[["47510c5f15268783"]]},{"id":"a9b36211c142ca8f","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"DROP TABLE settings","name":"DROP SETTINGS","x":710,"y":160,"wires":[[]]},{"id":"f93961976dfa953c","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":160,"wires":[["a9b36211c142ca8f"]]},{"id":"2c0f1ab7979f3bb2","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT rowid, * FROM settings ORDER BY rowid DESC LIMIT 1 ","name":"","x":1410,"y":3720,"wires":[["cefd03bcd9c3fe98"]]},{"id":"e314ac7bf38523bf","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1250,"y":3720,"wires":[["2c0f1ab7979f3bb2"]]},{"id":"cefd03bcd9c3fe98","type":"debug","z":"ebbf49736275a445","name":"debug 27","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":3720,"wires":[]},{"id":"9f5b3e1b9869bf45","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"prepared","sql":"INSERT INTO settings VALUES (null, ?, ?, ?, ?, ?, ?, ?);","name":"INSERT IN SETTINGS","x":2000,"y":3160,"wires":[[]]},{"id":"2aec7b943248bda5","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t    $millis(),\t    $flowContext(\"settings_audio\"),\t    $flowContext(\"settings_autoCheck\"),\t    $flowContext(\"settings_humidity_max\"),\t    $flowContext(\"settings_humidity_min\"),\t    $flowContext(\"settings_temperature_max\"),\t    $flowContext(\"settings_temperature_min\")\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":3160,"wires":[["9f5b3e1b9869bf45"]]},{"id":"88fab5aa60d50df5","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.75","topic":"","payload":"","payloadType":"date","x":1830,"y":1920,"wires":[["898c884a1116e604"]]},{"id":"8df96f34e5a52e8b","type":"comment","z":"ebbf49736275a445","name":"Settings update","info":"","x":160,"y":2940,"wires":[]},{"id":"086bb1f8b40c8666","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT rowid, * FROM settings ORDER BY rowid DESC LIMIT 1 ","name":"","x":340,"y":3000,"wires":[["7f665b88dba1d0c3"]]},{"id":"8aa48f4d84822104","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":170,"y":3000,"wires":[["086bb1f8b40c8666"]]},{"id":"7f665b88dba1d0c3","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":3000,"wires":[["01309bc56c3b5886","4d9fd6e44ec3fc5e","aae9bc69dcd6c134","231ad8887350a64d"]]},{"id":"231ad8887350a64d","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.settings_temperature_min","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":3000,"wires":[["2794b7b771fda18e"]]},{"id":"aae9bc69dcd6c134","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.settings_temperature_max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":3040,"wires":[["f223b757afe7c3c3"]]},{"id":"4d9fd6e44ec3fc5e","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.settings_humidity_min","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":3080,"wires":[["505fdf74218d92de"]]},{"id":"01309bc56c3b5886","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.settings_humidity_max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":3120,"wires":[["ba8c15820db21496"]]},{"id":"d43af4ef26a30cd1","type":"comment","z":"ebbf49736275a445","name":"Auto check","info":"","x":120,"y":2400,"wires":[]},{"id":"a304a9cfb8c81f22","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":160,"y":2460,"wires":[["923face0e2cbd4c5"]]},{"id":"ff34eeff78f18986","type":"ui_text","z":"ebbf49736275a445","group":"763126969616e421","order":7,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":16,"color":"#96d35f","x":1650,"y":3420,"wires":[]},{"id":"5cb4e6469da2c463","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":3420,"wires":[["ff34eeff78f18986"]]},{"id":"a0c2f7e5a9f7be2c","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Auto check enabled","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":3480,"wires":[["ff34eeff78f18986"]]},{"id":"ddbcd38a529e2d8a","type":"mqtt out","z":"ebbf49736275a445","name":"","topic":"SmartWindowOpenCloseAutoInput","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1a4335dcbe7c945d","x":740,"y":2460,"wires":[]},{"id":"b3c908c2cc60e013","type":"mqtt in","z":"ebbf49736275a445","name":"","topic":"SmartWindowOpenCloseAutoOutput","qos":"2","datatype":"auto-detect","broker":"1a4335dcbe7c945d","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":2540,"wires":[["fc998266cc9f7689"]]},{"id":"923face0e2cbd4c5","type":"switch","z":"ebbf49736275a445","name":"","property":"settings_autoCheck","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":2460,"wires":[["74a920996e125f83"]]},{"id":"a17fe03c269eaa89","type":"mqtt out","z":"ebbf49736275a445","name":"","topic":"SmartWindowWindowStatus","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1a4335dcbe7c945d","x":2580,"y":2760,"wires":[]},{"id":"987296017ccf6c4c","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    'settings_window_mac': $flowContext(\"settings_window_mac\"),\t    'window_status': $globalContext('window_status')\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2340,"y":2760,"wires":[["a17fe03c269eaa89"]]},{"id":"3f3cad204e4f1cee","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"window_status","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1850,"y":2540,"wires":[["987296017ccf6c4c","5932b8e201080f58","5e399bc334a2e28d"]]},{"id":"61fdc2d708e36e96","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.temperature","propertyType":"msg","rules":[{"t":"gte","v":"settings_temperature_min","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":2540,"wires":[["4f963c2c87ace1c7"],["4b0194c90f98a904"]]},{"id":"4f963c2c87ace1c7","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.temperature","propertyType":"msg","rules":[{"t":"lte","v":"settings_temperature_max","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":2540,"wires":[["64224102c086659f"],["b1be1b231e18147d"]]},{"id":"64224102c086659f","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.humidity","propertyType":"msg","rules":[{"t":"gte","v":"settings_humidity_min","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1210,"y":2540,"wires":[["1d0d2a073de188b4"],["9a08c3efa35b6c50"]]},{"id":"1d0d2a073de188b4","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.humidity","propertyType":"msg","rules":[{"t":"lte","v":"settings_humidity_max","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":2540,"wires":[["d8087d785447fb39"],["4c4b731b45d1ddd6"]]},{"id":"d8087d785447fb39","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.rain","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1490,"y":2540,"wires":[["d9ac5e193b402f6e"],["1c1527f32db19ede"]]},{"id":"2b672d913a571e91","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT rowid, * FROM main ORDER BY rowid DESC LIMIT 1 ","name":"","x":580,"y":2540,"wires":[["044e5a3de051b2f4"]]},{"id":"044e5a3de051b2f4","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":2540,"wires":[["61fdc2d708e36e96"]]},{"id":"d9ac5e193b402f6e","type":"switch","z":"ebbf49736275a445","name":"","property":"window_status","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1650,"y":2540,"wires":[["3f3cad204e4f1cee","ec27a0cf466381bd"]]},{"id":"6526a91edd951757","type":"switch","z":"ebbf49736275a445","name":"","property":"window_status","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1150,"y":2760,"wires":[["8bfc0bf7e28ae015","d0b2c160af7ec3cc"]]},{"id":"8bfc0bf7e28ae015","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"window_status","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2090,"y":2760,"wires":[["987296017ccf6c4c","e79b450895eedfcf","5db23c6830cb02c7"]]},{"id":"5ff321f2074432a1","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT rowid, * FROM settings ORDER BY rowid DESC LIMIT 20 ","name":"","x":1940,"y":3720,"wires":[["d11b876c8abf96c2"]]},{"id":"431cb0bffdf637e7","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1780,"y":3720,"wires":[["5ff321f2074432a1"]]},{"id":"d11b876c8abf96c2","type":"debug","z":"ebbf49736275a445","name":"debug 30","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2100,"y":3720,"wires":[]},{"id":"74a920996e125f83","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    'settings_window_mac': $flowContext(\"settings_window_mac\")\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":2460,"wires":[["ddbcd38a529e2d8a"]]},{"id":"bcc8748c5a4c8afc","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    'settings_window_mac': $flowContext(\"settings_window_mac\")\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1800,"wires":[["be7ae9c39eb1e1b9"]]},{"id":"fc998266cc9f7689","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.settings_window_mac","propertyType":"msg","rules":[{"t":"eq","v":"settings_window_mac","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":2540,"wires":[["2b672d913a571e91"]]},{"id":"6a5b096f485c6269","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.settings_window_mac","propertyType":"msg","rules":[{"t":"eq","v":"settings_window_mac","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":1980,"wires":[["2eb69fa4d78cdff9","0f096881b99e01f0"]]},{"id":"4a5bfaea637f0f28","type":"mqtt in","z":"ebbf49736275a445","name":"","topic":"SmartWindowFetchWindowStatusOutput","qos":"2","datatype":"auto-detect","broker":"1a4335dcbe7c945d","nl":false,"rap":true,"rh":0,"inputs":0,"x":1900,"y":2240,"wires":[["1de482b42d0b4daf"]]},{"id":"1de482b42d0b4daf","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"window_status","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":2240,"wires":[["967a6adc0b119807"]]},{"id":"967a6adc0b119807","type":"switch","z":"ebbf49736275a445","name":"","property":"window_status","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2410,"y":2240,"wires":[["5e399bc334a2e28d"],["5db23c6830cb02c7"]]},{"id":"2dd82369c5ad6034","type":"comment","z":"ebbf49736275a445","name":"Change MAC status check","info":"","x":1850,"y":2180,"wires":[]},{"id":"466cc0062e78cbc9","type":"ui_button","z":"ebbf49736275a445","name":"","group":"6bf632d7013a7c91","order":6,"width":0,"height":0,"passthru":false,"label":"Fetch and add","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":920,"wires":[["171257e904d0043b","8c9d71534fde71ae"]]},{"id":"79729c98713e4a09","type":"mqtt out","z":"ebbf49736275a445","name":"","topic":"SmartWindowFetchDataInput","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1a4335dcbe7c945d","x":580,"y":920,"wires":[]},{"id":"33c0bf85631034ba","type":"mqtt in","z":"ebbf49736275a445","name":"","topic":"SmartWindowFetchDataOutput","qos":"2","datatype":"auto-detect","broker":"1a4335dcbe7c945d","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":1000,"wires":[["1a10e7a0735b1b5c"]]},{"id":"171257e904d0043b","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Loading...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":960,"wires":[["3cf69c770ebfa3a4"]]},{"id":"1a10e7a0735b1b5c","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1000,"wires":[["3cf69c770ebfa3a4"]]},{"id":"3cf69c770ebfa3a4","type":"ui_text","z":"ebbf49736275a445","group":"6bf632d7013a7c91","order":7,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":610,"y":960,"wires":[]},{"id":"94fcf177e5549f3f","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":860,"wires":[["8c9d71534fde71ae"]]},{"id":"8c9d71534fde71ae","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    'settings_window_mac': $flowContext(\"settings_window_mac\")\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":920,"wires":[["79729c98713e4a09"]]},{"id":"4b0194c90f98a904","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Minimun temperature param not respected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2600,"wires":[["6526a91edd951757"]]},{"id":"b1be1b231e18147d","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Minimun temperature param not respected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2640,"wires":[["6526a91edd951757"]]},{"id":"9a08c3efa35b6c50","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Minimun humidity param not respected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":2680,"wires":[["6526a91edd951757"]]},{"id":"4c4b731b45d1ddd6","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Maximun humidity param not respected","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":2720,"wires":[["6526a91edd951757"]]},{"id":"1c1527f32db19ede","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"It's raining","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":2760,"wires":[["6526a91edd951757"]]},{"id":"d0b2c160af7ec3cc","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    'value1': 'Window is closed',\t    'value2': payload,\t    'value3': ''\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1840,"y":2820,"wires":[["692a0f4a5123d938"]]},{"id":"ec27a0cf466381bd","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    'value1': 'Window is now open',\t    'value2': 'All params respected',\t    'value3': ''\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":2600,"wires":[["692a0f4a5123d938"]]},{"id":"882b820a53455de1","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"value1\":\"Window is closed\",\"value2\":\"payload\",\"value3\":\"\"}","payloadType":"json","x":1770,"y":2880,"wires":[["692a0f4a5123d938"]]},{"id":"692a0f4a5123d938","type":"ifttt out","z":"ebbf49736275a445","eventName":"event1","key":"29927531ead64340","x":2010,"y":2820,"wires":[]},{"id":"60b8260e312ac869","type":"comment","z":"ebbf49736275a445","name":"Notifica IFTT *FUNZIONE PRO*","info":"","x":2210,"y":2820,"wires":[]},{"id":"3ebf25d67737ef6a","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT rowid, * FROM telegram_users ORDER BY rowid DESC LIMIT 20 ","name":"User Telegram query","x":2540,"y":3720,"wires":[["c200e285110c27a4"]]},{"id":"ba051963fd1b160b","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2340,"y":3720,"wires":[["3ebf25d67737ef6a"]]},{"id":"c200e285110c27a4","type":"debug","z":"ebbf49736275a445","name":"debug 33","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2740,"y":3720,"wires":[]},{"id":"0fb1e6698d9d01e7","type":"comment","z":"ebbf49736275a445","name":"Eliminazione riga mediante rowid","info":"","x":720,"y":3600,"wires":[]},{"id":"4308c52e49b865c3","type":"comment","z":"ebbf49736275a445","name":"Settings DB","info":"","x":510,"y":40,"wires":[]},{"id":"c52ac1e252008039","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"settings_window_mac","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1850,"y":920,"wires":[[]]},{"id":"bd211b3efbceb0d2","type":"comment","z":"ebbf49736275a445","name":"Refresh window mac","info":"d8:3a:dd:59:40:20","x":830,"y":800,"wires":[]},{"id":"02acb98e5ef73989","type":"ui_dropdown","z":"ebbf49736275a445","name":"","label":"Selected device","tooltip":"","place":"Select device","group":"763126969616e421","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"topic","topicType":"msg","className":"","x":1600,"y":920,"wires":[["c52ac1e252008039","fabf47037873d7ac","55c82e05f6fb1e3e"]]},{"id":"9ac9cb4769431474","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":830,"y":860,"wires":[["af02b851998be720"]]},{"id":"eb08d6a4de473fdd","type":"mqtt out","z":"ebbf49736275a445","name":"","topic":"SmartWindowFetchWindowStatusInput","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1a4335dcbe7c945d","x":2070,"y":980,"wires":[]},{"id":"ee93409ad369af8b","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":920,"wires":[["02acb98e5ef73989"]]},{"id":"af02b851998be720","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT DISTINCT device_id\nFROM main;\n","name":"","x":1040,"y":920,"wires":[["1369534473f9569e"]]},{"id":"1369534473f9569e","type":"function","z":"ebbf49736275a445","name":"get options","func":"var inputArray = msg.payload;\n\nvar outputArray = inputArray.map(function(obj) {\n    return obj.device_id;\n});\n\nmsg.payload = outputArray;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":920,"wires":[["ee93409ad369af8b"]]},{"id":"b5a0d475d5a98660","type":"ui_button","z":"ebbf49736275a445","name":"","group":"763126969616e421","order":8,"width":0,"height":0,"passthru":false,"label":"Refresh window mac","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":840,"y":920,"wires":[["af02b851998be720"]]},{"id":"fabf47037873d7ac","type":"debug","z":"ebbf49736275a445","name":"debug 31","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1780,"y":860,"wires":[]},{"id":"55c82e05f6fb1e3e","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t    'settings_window_mac': msg.payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":980,"wires":[["eb08d6a4de473fdd"]]},{"id":"550c5af5cd368922","type":"comment","z":"ebbf49736275a445","name":"Fetch and add","info":"","x":130,"y":800,"wires":[]},{"id":"7678ebab9e80b015","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"CREATE TABLE telegram_users (\n    ID INTEGER PRIMARY KEY AUTOINCREMENT,\n    TimeSt varchar(255),\n    chat_id varchar(255)\n);","name":"CREATE TELEGRAM USERS","x":1170,"y":100,"wires":[[]]},{"id":"c1b290347ea43c8b","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":940,"y":100,"wires":[["7678ebab9e80b015"]]},{"id":"43a2df18d1c718ca","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"DROP TABLE telegram_users","name":"DROP TELEGRAM USERS","x":1160,"y":160,"wires":[[]]},{"id":"9dff062bdf187886","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":940,"y":160,"wires":[["43a2df18d1c718ca"]]},{"id":"8342599814945abc","type":"comment","z":"ebbf49736275a445","name":"Telegram DB","info":"","x":930,"y":40,"wires":[]},{"id":"4888399ff816d8b1","type":"comment","z":"ebbf49736275a445","name":"Bot telegram","info":"","x":130,"y":1180,"wires":[]},{"id":"f2d713251a3f258b","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1240,"wires":[["1973d6df64c2bab2"]]},{"id":"2b73a81d25e016e9","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"fixed","sql":"SELECT DISTINCT chat_id\nFROM telegram_users;\n","name":"telegram_users","x":1140,"y":1240,"wires":[["3e8bc99279463859"]]},{"id":"3e8bc99279463859","type":"function","z":"ebbf49736275a445","name":"get options","func":"var inputArray = msg.payload;\n\nvar outputArray = inputArray.map(function(obj) {\n    return obj.chat_id;\n});\n\nmsg.payload = outputArray;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":1240,"wires":[["f2d713251a3f258b"]]},{"id":"1973d6df64c2bab2","type":"ui_dropdown","z":"ebbf49736275a445","name":"","label":"","tooltip":"","place":"Enabled telegram users","group":"0cc5d22335f19079","order":10,"width":0,"height":0,"passthru":true,"multiple":true,"options":[],"payload":"","topic":"topic","topicType":"msg","className":"","x":1700,"y":1240,"wires":[["e9ee2f3082720545"]]},{"id":"4f6c87864ea6cf66","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":930,"y":1240,"wires":[["2b73a81d25e016e9"]]},{"id":"11622be3d94f8bd5","type":"telegram receiver","z":"ebbf49736275a445","name":"","bot":"c7305be84dcaa48e","saveDataDir":"","filterCommands":false,"x":160,"y":1360,"wires":[["844c0b0b59c2c1b4"],[]]},{"id":"d3d4e2b6713bc6dc","type":"telegram sender","z":"ebbf49736275a445","name":"","bot":"c7305be84dcaa48e","haserroroutput":false,"outputs":1,"x":840,"y":1360,"wires":[[]]},{"id":"501783b0e0042588","type":"sqlite","z":"ebbf49736275a445","mydb":"99d06e729a7151a0","sqlquery":"prepared","sql":"INSERT INTO telegram_users VALUES (null, ?, ?);","name":"INSERT IN TELEGRAM_USERS","x":850,"y":1300,"wires":[["2b73a81d25e016e9"]]},{"id":"1abd573d12221b3d","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"params","pt":"msg","to":"[\t    $millis(),\t    payload.chatId\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1300,"wires":[["501783b0e0042588"]]},{"id":"e9ee2f3082720545","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"telegram_selected_users","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1960,"y":1240,"wires":[[]]},{"id":"1c143cecfbede447","type":"function","z":"ebbf49736275a445","name":"function 2","func":"\nvar input = msg.payload;\n\ninput.content = 'Welcome to Smart Window Telegram interface, to enable this device select chat_id (your chat_id is: ' + input.chatId + ') form admin pannel'\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":1360,"wires":[["d3d4e2b6713bc6dc","7caffe96fd4fbefc"]]},{"id":"76d783e73c0bb16e","type":"function","z":"ebbf49736275a445","name":"function 3","func":"\nvar selected_user = global.get('telegram_selected_users')\nvar chat_id = msg.payload.chatId.toString();\n\nmsg.debug = selected_user\n\n\nmsg.topic = selected_user.includes(chat_id)\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1440,"wires":[["4363d4893c436565","988344836d85f3fb"]]},{"id":"844c0b0b59c2c1b4","type":"switch","z":"ebbf49736275a445","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/start","vt":"str"},{"t":"eq","v":"/open","vt":"str"},{"t":"eq","v":"/close","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":1360,"wires":[["1abd573d12221b3d","1c143cecfbede447"],["76d783e73c0bb16e"],["647049d8c1352fdf"]]},{"id":"4363d4893c436565","type":"switch","z":"ebbf49736275a445","name":"","property":"topic","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":1440,"wires":[["950b06370da21686"],["800185cd2429a39e"]]},{"id":"800185cd2429a39e","type":"function","z":"ebbf49736275a445","name":"function 4","func":"\nvar input = msg.payload;\n\ninput.content = 'You do not have access to open windows'\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1520,"wires":[["ea1cfd3cadbf9cd1"]]},{"id":"ea1cfd3cadbf9cd1","type":"telegram sender","z":"ebbf49736275a445","name":"","bot":"c7305be84dcaa48e","haserroroutput":false,"outputs":1,"x":1520,"y":1480,"wires":[[]]},{"id":"950b06370da21686","type":"switch","z":"ebbf49736275a445","name":"","property":"window_status","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":1440,"wires":[["e685d15a457903f3"],["073e7aaddf6a6a6e"]]},{"id":"e685d15a457903f3","type":"function","z":"ebbf49736275a445","name":"function 5","func":"\nvar input = msg.payload;\n\ninput.content = 'Window is already open'\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":1440,"wires":[["ea1cfd3cadbf9cd1"]]},{"id":"7caffe96fd4fbefc","type":"debug","z":"ebbf49736275a445","name":"debug 34","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1120,"y":1320,"wires":[]},{"id":"073e7aaddf6a6a6e","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"input_from_telegram","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":1480,"wires":[["9a57024ed7279180","bc2a597e4ed7a137"]]},{"id":"f8a8557f5e270f4c","type":"switch","z":"ebbf49736275a445","name":"","property":"input_from_telegram","propertyType":"global","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":2320,"wires":[["ed89f0b391e0bc8a"]]},{"id":"57cfe2a831af3324","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"input_from_telegram","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":2380,"wires":[[]]},{"id":"ed89f0b391e0bc8a","type":"function","z":"ebbf49736275a445","name":"function 6","func":"\nvar input = msg.payload;\nvar message = global.get('input_from_telegram')\n\nmessage.content = input\n\nmsg.payload = message\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":2320,"wires":[["aab4e31c335e09c0"]]},{"id":"aab4e31c335e09c0","type":"telegram sender","z":"ebbf49736275a445","name":"","bot":"c7305be84dcaa48e","haserroroutput":false,"outputs":1,"x":1460,"y":2320,"wires":[["57cfe2a831af3324"]]},{"id":"4075b616d62cd9ce","type":"switch","z":"ebbf49736275a445","name":"","property":"input_from_telegram","propertyType":"global","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2410,"y":2060,"wires":[["3454cc62f7de500f"]]},{"id":"9523a232da2d414b","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"input_from_telegram","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3010,"y":2060,"wires":[[]]},{"id":"3454cc62f7de500f","type":"function","z":"ebbf49736275a445","name":"function 7","func":"\nvar message = global.get('input_from_telegram')\n\nmessage.content = 'Window is now open'\n\nmsg.payload = message\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2560,"y":2060,"wires":[["1e0b3c6a5666e8ed"]]},{"id":"1e0b3c6a5666e8ed","type":"telegram sender","z":"ebbf49736275a445","name":"","bot":"c7305be84dcaa48e","haserroroutput":false,"outputs":1,"x":2760,"y":2060,"wires":[["9523a232da2d414b"]]},{"id":"72e021daa87e0d9a","type":"switch","z":"ebbf49736275a445","name":"","property":"input_from_telegram","propertyType":"global","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2270,"y":1840,"wires":[["fd6803e45ae9e453","24e2fe957977430e"]]},{"id":"e1c102a9f59a8938","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"input_from_telegram","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2890,"y":1840,"wires":[[]]},{"id":"fd6803e45ae9e453","type":"function","z":"ebbf49736275a445","name":"function 8","func":"\nvar message = global.get('input_from_telegram')\n\nmessage.content = 'Window is now closed'\n\nmsg.payload = message\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2420,"y":1840,"wires":[["3417b1450bd35a78"]]},{"id":"3417b1450bd35a78","type":"telegram sender","z":"ebbf49736275a445","name":"","bot":"c7305be84dcaa48e","haserroroutput":false,"outputs":1,"x":2620,"y":1840,"wires":[["e1c102a9f59a8938"]]},{"id":"647049d8c1352fdf","type":"function","z":"ebbf49736275a445","name":"function 9","func":"\nvar selected_user = global.get('telegram_selected_users')\nvar chat_id = msg.payload.chatId.toString();\n\nmsg.debug = selected_user\n\n\nmsg.topic = selected_user.includes(chat_id)\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1580,"wires":[["e1b98cdbfa9b5bc2"]]},{"id":"e1b98cdbfa9b5bc2","type":"switch","z":"ebbf49736275a445","name":"","property":"topic","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":1580,"wires":[["dc7b601132f68e33"],["93934f2290eb2486"]]},{"id":"93934f2290eb2486","type":"function","z":"ebbf49736275a445","name":"function 10","func":"\nvar input = msg.payload;\n\ninput.content = 'You do not have access to close windows'\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1660,"wires":[["54b9491f051cfa6b"]]},{"id":"54b9491f051cfa6b","type":"telegram sender","z":"ebbf49736275a445","name":"","bot":"c7305be84dcaa48e","haserroroutput":false,"outputs":1,"x":1520,"y":1620,"wires":[[]]},{"id":"dc7b601132f68e33","type":"switch","z":"ebbf49736275a445","name":"","property":"window_status","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":1580,"wires":[["1cded28dde25bbda"],["6814332f2d0d5616"]]},{"id":"1cded28dde25bbda","type":"function","z":"ebbf49736275a445","name":"function 11","func":"\nvar input = msg.payload;\n\ninput.content = 'Window is already closed'\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":1580,"wires":[["54b9491f051cfa6b"]]},{"id":"6814332f2d0d5616","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"input_from_telegram","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":1620,"wires":[["9a57024ed7279180","bc2a597e4ed7a137"]]},{"id":"988344836d85f3fb","type":"debug","z":"ebbf49736275a445","name":"debug 35","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"debug","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":1400,"wires":[]},{"id":"d1377c6d7b0db25a","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"input_from_telegram","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":4120,"wires":[[]]},{"id":"dc4cdc85fc9b753e","type":"inject","z":"ebbf49736275a445","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":4120,"wires":[["d1377c6d7b0db25a"]]},{"id":"659a54c1cac0b3bb","type":"telegram sender","z":"ebbf49736275a445","name":"","bot":"c7305be84dcaa48e","haserroroutput":false,"outputs":1,"x":1480,"y":1780,"wires":[[]]},{"id":"bc2a597e4ed7a137","type":"function","z":"ebbf49736275a445","name":"function 12","func":"\nvar input = msg.payload;\n\ninput.content = 'Loading...'\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":1780,"wires":[["659a54c1cac0b3bb"]]},{"id":"d79b60b593951a52","type":"debug","z":"ebbf49736275a445","name":"debug 36","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2320,"y":1640,"wires":[]},{"id":"24e2fe957977430e","type":"debug","z":"ebbf49736275a445","name":"debug 37","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2340,"y":1700,"wires":[]},{"id":"2624a3b8cff38352","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"input_from_telegram","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":2120,"y":1640,"wires":[["d79b60b593951a52"]]},{"id":"e7d2ff9ba3d66c6e","type":"debug","z":"ebbf49736275a445","name":"debug 38","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":1940,"wires":[]},{"id":"771828f354624776","type":"change","z":"ebbf49736275a445","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"input_from_telegram","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":1940,"wires":[["e7d2ff9ba3d66c6e"]]},{"id":"53f6eb4cce556b51","type":"ui_spacer","z":"ebbf49736275a445","name":"spacer","group":"0cc5d22335f19079","order":6,"width":6,"height":1},{"id":"a34023b0637209da","type":"ui_spacer","z":"ebbf49736275a445","name":"spacer","group":"0cc5d22335f19079","order":9,"width":6,"height":1},{"id":"99d06e729a7151a0","type":"sqlitedb","db":"raindrop","mode":"RWC"},{"id":"6bf632d7013a7c91","type":"ui_group","name":"Data","tab":"7e405941140d8767","order":2,"disp":true,"width":"12","collapse":true,"className":""},{"id":"466bbded3e4d8df5","type":"ui_group","name":"Gauges","tab":"7e405941140d8767","order":3,"disp":true,"width":6,"collapse":true,"className":""},{"id":"763126969616e421","type":"ui_group","name":"Cotroller","tab":"7e405941140d8767","order":1,"disp":true,"width":"6","collapse":true,"className":""},{"id":"1a4335dcbe7c945d","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"0cc5d22335f19079","type":"ui_group","name":"Settings","tab":"7e405941140d8767","order":4,"disp":true,"width":6,"collapse":true,"className":""},{"id":"29927531ead64340","type":"ifttt-key"},{"id":"c7305be84dcaa48e","type":"telegram bot","botname":"SmartWindow_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"7e405941140d8767","type":"ui_tab","name":"SmartWindow","icon":"dashboard","order":1,"disabled":false,"hidden":false}]